.DS_Store
__pycache__
!.gitkeep
/screenshots/*
/web/static
.cache
web/coverage
web/htmlcov
debug.txt
/*.log
venv
*.pyc
nuremberg_dev.db
*/**/.t
.t/
dist/
dumps/.*
dumps/new
dumps/old
data/
.bin/
!.cache/keep
.cache/
.vscode/
./web/coverage/   
.envrc 
.local-env
