version: '2'

services:

  solr-data-load:
    image: solr:9.2.0
    volumes:
      # NAMED VOLUMES
      - solr_build:/var/solr
      # LOCAL BIND
      - ./dist:/dist
    environment:
      - SOLR_JAVA_MEM=-Xms1536m -Xmx1536m

  solr-loader:
    image: registry.revsys.com/nuremberg:v0.5.139

    build:
      context: ./web
      target: release
    tty: true
    entrypoint: bash
    working_dir: /nuremberg
    volumes:
      # BIND MOUNTS
      - ./web:/nuremberg
    environment:
      # let Django load Docker-specific settings conditionally
      - DOCKERIZED=True
      - DEBUG=True
      - SECRET_KEY=top-secret-1234
      - SOLR_URL=http://solr-data-load:8983/solr/nuremberg_dev

volumes:
  solr_build:
