{% extends base_template|default:"base.html" %}
{% load search_url django_vite i18n %}

{% block title %} Advanced Search {% endblock %}

{% block body_class %}document-search{% endblock %}

{% block extra_head_js %}
{% comment %} {% vite_asset 'src/vanilla/advancedSearch.js' %} {% endcomment %}
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" defer></script>
  <script>
    $(document).ready(function() {
      $('#id_author').select2();
    });
  </script>
{% endblock extra_head_js %}

{% block content %}
<section id="search" role="search" aria-label="Search the archive" class="theme-beige thin">
  <h1 class="h4">Search the archive &mdash; Advanced</h1>
  <div class="full-width">
    <div class="advanced-search-help">

      {% for message in messages %}
        {% if not message.extra_tags %}
        <div class="has-error">
        <p class="has-error">{{ message }}</p>
        </div>
        {% endif %}
      {% endfor %}

      <form class="advanced-search" role="search" aria-label="advanced search" action="{% url 'search:advanced' %}" method="POST">
        <p>{% trans 'Match all entered search terms below' %}</p>
        <p style="margin-top: 10px; margin-bottom: 10px">
          <label style="margin-right: 50px;">Material Types:</label>
        <label style="margin-right: 10px">
          <input type="checkbox" name="m" value="document" checked />
          Document Full Text
        </label>
        <label style="margin-right: 10px">
          <input type="checkbox" name="m" value="documenttext" checked />
          Document Descriptive Information
        </label>
        <label style="margin-right: 10px">
          <input type="checkbox" name="m" value="transcript" checked />
          Trial Transcript Full Text
        </label>
        <label style="margin-right: 10px">
          <input type="checkbox" name="m" value="photograph" checked />
          Photograph Descriptive Information
        </label>
        </p>
        {% for field in form %}
          {% if field.name != 'evidence' and field.name != 'exhibit' and field.name != 'book' and field.name != 'm' and '_' not in field.name %}
          <div class="{% if field.errors %}has-error{% endif %}">
          <p>{{ field.label_tag }} {{ field }}</p>
          {% for error in field.errors %}
          <p><small class="has-error">{{ error }}</small></p>
          {% endfor %}
          </div>
          {% endif %}
        {% endfor %}

          <div class="{% if form.evidence.errors %}has-error{% endif %}">
          <p>{{ form.evidence.label_tag }} {{ form.evidence }} {{ form.evidence_num }} {{ form.evidence_suffix }}</p>
          {% for error in form.evidence.errors %}
          <p><small class="has-error">{{ error }}</small></p>
          {% endfor %}
          </div>

          <div class="{% if form.exhibit.errors %}has-error{% endif %}">
          <p>{{ form.exhibit.label_tag }} {{ form.exhibit }} {{ form.exhibit_num }}</p>
          {% for error in form.exhibit.errors %}
          <p><small class="has-error">{{ error }}</small></p>
          {% endfor %}
          </div>

          <div class="{% if form.book.errors %}has-error{% endif %}">
          <p>{{ form.book.label_tag }} {{ form.book }} {{ form.book_num }}</p>
          {% for error in form.book.errors %}
          <p><small class="has-error">{{ error }}</small></p>
          {% endfor %}
          </div>

          <div class="{% if form.year_range.errors %}has-error{% endif %}">
          <p>{{ form.year_range.label_tag }} {{ form.year_range }}</p>
          {% for error in form.year_range.errors %}
          <p><small class="has-error">{{ error }}</small></p>
          {% endfor %}

          <div class="advanced-search-button-group">
            <button class="button search-button" type="submit">Advanced Search</button>
            <button class="button search-button" type="reset">Clear</button>
          </div>

      </form>

    </div>
  </div>
</section>
{% endblock %}
