{% extends "base.html" %}
{% load static %}

{% block title %} People {% endblock %}

{% block body_class %}about{% endblock %}

{% block header %}
  {{ block.super }}
  <nav aria-label="Topics for IMT" class="sub-nav horizontal">
    <li>
      <a href="#summary">Summary</a>
    </li>
    <li>
      <a href="#persons">Persons Involved</a>
    </li>
    <li>
      <a href="#indictments">Indictments</a>
    </li>
    <li>
      <a href="#chronology">Chronology</a>
    </li>
    <li>
      <a href="#verdicts">Verdicts and Sentences</a>
    </li>
    <li>
      <a href="#evidence">Evidence</a>
    </li>
  </nav>
{% endblock %}

{% block content %}
<div id="content"></div>
<section class="theme-light">
  <div>
    <h1>International Military Tribunal (IMT)</h1>
  </div>
</section>

<section class="theme-light">
  <div class="anchor" id="summary"></div>
  <h2>Summary</h2>
  <p>The International Military Tribunal was established in the summer of 1945
  to try the “major war criminals” of the Nazi regime for committing wars of
  aggression, war crimes, and crimes against humanity. Twenty-four individuals
  and 6 organizations were indicted. The trial opened on 20 November 1945, and
  the judgment and sentences were completed on 1 October 1946. The tribunal
  heard testimony from 33 prosecution witnesses, 19 defendants, 61 defense
  witnesses, and 22 witnesses concerning organizations; thousands of documents
  were received as evidence. Nineteen defendants were found guilty (with 12
  given the death penalty), 3 were acquitted, and 3 organizations were found to
  be criminal.</p>
</section>

<section class="theme-light">
  <div class="anchor" id="persons"></div>
  <h2>Persons Involved</h2>
  <h3>Tribunal</h3>
    <p class="list">
      Geoffrey Lawrence, president of IMT, UK, lord justice<br />
      Iona T. Nikitchenko, USSR, major general, judge of supreme court<br />
      Alexander Volchkov, USSR alternate, lt. colonel<br />
      Norman Birkett, UK alternate<br />
      Francis Biddle, US, former attorney general<br />
      John Parker, US alternate, judge, court of appeals<br />
      Henri Donnedieu de Vabres, France, law professor, University of Paris<br />
      Robert Falco, France alternate<br />
    </p>

  <h3>Prosecutors</h3>
    <p class="list">
      Robert Jackson, US Supreme Court<br />
       Telford Taylor, William Kaplan, Thomas Dodd, Ralph Albrecht, Richard<br />
            Sonnenfeldt (interpreter)<br />
      Hartley Shawcross, UK attorney general<br />
       David Maxwell-Fyfe, John Wheeler-Bennett, Mervyn Griffith-Jones, Anthony Marreco<br />
      Roman A. Rudenko, USSR, lt. general, prosecutor<br />
      Francois de Menthon, France, followed by Auguste Champetier de Ribes<br />
    </p>

  <h3>Defendants</h3>
    <p class="list">
      Martin Bormann: head of party chancery, secretary of Hitler, council of ministers for<br />
       defense of the Reich (tried in absentia)<br />
      Karl Doenitz: commander of U-boat force, commander in chief of navy, head of government<br />
       after Hitler<br />
      Hans Frank: governor general of occupied Poland<br />
      Wilhelm Frick: minister of the interior<br />
      Hans Fritzsche: press and radio editor, official in ministry of propaganda<br />
      Walther Funk: minister of economics<br />
      Hermann Goering: commander of air force, Four Year Plan, council of ministers for the defense<br />
       of the Reich<br />
      Rudolf Hess: deputy to Hitler, minister without portfolio, council of ministers for the defense of<br />
       the Reich<br />
      Alfred Jodl: major general and chief of staff of high command (OKW)<br />
      Ernst Kaltenbrunner: head of Reich Main Security Office (RSHA), chief of the security police<br />
       and security service (SD)<br />
      Wilhelm Keitel: field marshal, chief of the high command of the armed forces (OKW)<br />
      Gustav Krupp von Bohlen und Halbach (not tried, due to illness)<br />
      Robert Ley (suicide, 25 Oct 1945): German Labor Front, official supervising foreign workers<br />
      Konstantin von Neurath: minister of foreign affairs, secret cabinet council, protector for Bohemia<br />
       and Moravia<br />
      Franz von Papen: diplomat, ambassador in Vienna and Turkey<br />
      Erich Raeder: admiral of the navy, secret cabinet council<br />
      Joachim von Ribbentrop: minister for foreign affairs, secret cabinet council<br />
      Alfred Rosenberg: editor, ideological training office, minister for the eastern occupied territories,<br />
       Einsatzstab Rosenberg<br />
      Fritz Sauckel: plenipotentiary for labor in Four Year Plan, supervisor of foreign labor<br />
      Hjalmar Schacht: minister of economics, president of the Reichsbank<br />
      Baldur von Schirach: head of Hitler Jugend, gauleiter of Vienna<br />
      Artur Seyss-Inquart: Austrian politician, senior official in Poland and Netherlands<br />
      Albert Speer: minister for armament and munitions, Organization Todt, armaments council<br />
      Julius Streicher: editor of Der Sturmer<br />
    </p>

  <h3>Indicted organizations</h3>
    <p class="list">
      General Staff and High Command (military)<br />
      Gestapo<br />
      Leadership Corps of the NSDAP<br />
      Reich Cabinet<br />
      SA<br />
      SS, including the SD<br />
    </p>

  <h3>Defense attorneys (including assistant attorneys)</h3>
    <p class="list">
      Ludwig Babel (SS and SD)<br />
      Walter Ballas (Krupp, Raeder)<br />
      Friedrich Bergold (Bormann)<br />
      Georg Boehm (SA)<br />
      Werner Bross (Goering)<br />
      Rudolf Dix (Schacht)<br />
      Franz Exner (Jodl; General Staff, to 27 Jan 1946)<br />
      Hans Flaechsner (Speer)<br />
      Heinz Fritz (Fritzsche)<br />
      George Froeschmann (Ribbentrop)<br />
      Walther Funk (von Schirach)<br />
      Hans Gawlik (SD)<br />
      Willi Heim (Gestapo)<br />
      Martin Horn (Ribbentrop, from 5 Jan 1946)<br />
      Hermann Jahrreiss (Jodl)<br />
      Kurt Kauffmann (Kaltenbrunner)<br />
      Hans von Kittlitz (Speer)<br />
      Johannes Klefisch (SA)<br />
      Theodor Klefisch (Krupp, SA)<br />
      Josef Koessl (SS)<br />
      Otto Kranzbuehler (Doenitz)<br />
      Herbert Kraus (Schacht)<br />
      Egon Kubuschok (von Papen; Reich Cabinet)<br />
      Hans Laternser (General staff and OKW, from 27 Jan 1946)<br />
      Heinrich Link (Leadership Corps)<br />
      Victor von der Lippe (Raeder)<br />
      Martin Loeffler (SA)<br />
      Otto von Luedinghausen (Neurath)<br />
      Guenther Lummert (Reich Cabinet)<br />
      Hanns Marx (Streicher)<br />
      Hans Meckel (Doenitz)<br />
      Rudolf Merkel (Gestapo)<br />
      Hermann Mosler (Speer)<br />
      Otto Nelte (Keitel)<br />
      Otto Pannenbecker (Frick)<br />
      Franz von Papen (the younger) (Reich Cabinet; von Papen)<br />
      Horst Pelckmann (SS)<br />
      Hans Pribilla (Leadership Corps)<br />
      Max Rau (SS and SD)<br />
      Victor Rinke (Ribbentrop)<br />
      Guenther von Rohrscheidt (Hess, to 5 Feb 1946, General Staff)<br />
      Fritz Sauter (Funk; Ribbentrop, to 5 Jan 1946; Schirach)<br />
      Hans-Georg Schaetzler (Hess)<br />
      Wilhelm Schmidt (SS)<br />
      Seidl (Frank; Hess, from 5 Feb 1946)<br />
      Servatius (Sauckel; Leadership Corps)<br />
      Walter Siemers (Raeder)<br />
      Otto Stahmer (Goering)<br />
      Gustav Steinbauer (Seyys-Inquart)<br />
      Alfred Thoma (Rosenberg)<br />
      Josef Weisgerber (Gestapo)<br />
    </p>
</section>

<section class="theme-light">
  <div class="anchor" id="indictments"></div>
  <h2>Indictments</h2>
  <p>Four counts:</p>
  <ol class="list">
    <li><strong>Common plan or conspiracy to commit crimes against peace (wars of aggression), war crimes, and crimes against humanity.</strong>
      <ol class="list" type="A">
        <li>Nazi party as the central core</li>
        <li>Common objectives and methods</li>
        <li>Doctrinal techniques</li>
        <li>Acquiring of totalitarian control in Germany: Political
          <ol class="list">
            <li>First steps, 1923--.</li>
            <li>Control acquired, 1933.</li>
            <li>Consolidation of control</li>
          </ol>
        </li>
        <li>Acquiring of totalitarian control: Economic, and mobilization for war</li>
        <li>Utilization of control for foreign aggression
          <ol class="list">
            <li>Plan and rearmament.</li>
            <li>Austria and Czechoslovakia.</li>
            <li>Poland.</li>
            <li>Denmark, Norway, Belgium, Netherlands, Luxembourg, Yugoslavia, and Greece.</li>
            <li>USSR.</li>
            <li>Collaboration with Italy and Japan, and war against USA.</li>
          </ol>
        </li>
        <li>War crimes and crimes against humanity committed via the conspiracy</li>
        <li>Individual, group, and organization responsibility</li>
      </ol>
    </li>
    <li><strong>Crimes against peace: </strong><br />
      Wars against Poland; United Kingdom and France; Denmark and Norway;
      Belgium, Netherlands, and Luxembourg; Yugoslavia and Greece; USSR; USA
    </li>

    <li><strong>War crimes</strong>
      <ol class="list" type="A">
        <li>Murder and ill-treatment of civilian populations in occupied territories</li>
        <li>Deportation of civilians for slave labor</li>
        <li>Murder and ill-treatment of POWs and others in armed forces</li>
        <li>Killing of hostages</li>
        <li>Plunder of public and private property
          <ol class="list">
            <li>foodstuffs removed to Germany.</li>
            <li>seizure of raw materials and machinery.</li>
            <li>confiscation of businesses, plants, etc.</li>
            <li>coerced transfers of property.</li>
            <li>exploitation of local economies for German war effort.</li>
            <li>despoliation of commodities, wealth, currencies, and financial assets.</li>
            <li>abrogation of civilians’ rights to conduct agriculture and industry, in favor of Germans and their allies.</li>
            <li>destruction of industrial cities, and cultural and scientific institutions.</li>
            <li>profiteering from control of industries, forced labor, property, and materials</li>
          </ol>
        </li>
        <li>Exaction of collective penalties, including fines</li>
        <li>Destruction of cities, towns, and villages</li>
        <li>Conscription of civilian labor</li>
        <li>Forcing civilians to swear allegiance</li>
        <li>Germanization of annexed occupied territories</li>
      </ol>
    </li>

    <li><strong>Crimes against humanity</strong>
      <ol class="list" type="A">
        <li>Murder, extermination, enslavement, deportation, etc., of civilian populations</li>
        <li>Persecution on political, racial, and religious grounds</li>
      </ol>
    </li>
  </ol>
</section>

<section class="theme-light">
  <div class="anchor" id="chronology"></div>
  <h2>General Chronology</h2>

  <table class="table-trial-chronology">
    <tr><td>8 Aug 1945</td><td>London Agreement and Charter of the IMT</td></tr>
    <tr><td>6 Oct</td><td>Indictment</td></tr>
    <tr><td>14-17 Nov</td><td>Pre-trial hearings</td></tr>
    <tr><td>20 Nov</td><td>Trial begins</td></tr>
    <tr><td>21 Nov</td><td>Prosecution opening statement by Robert Jackson</td></tr>
    <tr><td>3 Dec</td><td>Prosecution of Count 2, crimes against peace, begins</td></tr>
    <tr><td>4 Dec</td><td>Shawcross address</td></tr>
    <tr><td>4 July 1946</td><td>Defense final statements</td></tr>
    <tr><td>26 July</td><td>Prosecution final statements</td></tr>
    <tr><td>30 July</td><td>Criminal organizations</td></tr>
    <tr><td>31 Aug</td><td>Defendants’ last statements</td></tr>
    <tr><td>1 Sep</td><td>Court adjourns</td></tr>
    <tr><td>30 Sep</td><td>Judgment</td></tr>
    <tr><td>1 Oct</td><td>Judgment and sentences</td></tr>
  </table>

</section>

<section class="theme-light">
  <div class="anchor" id="verdicts"></div>
  <h2>Verdicts and Sentences (numbers refer to counts of the Indictment)</h2>
    <p class="list">
      Bormann: not guilty, 1; guilty, 3 and 4; death<br />
      Doenitz: not guilty, 1; guilty, 2 and 3; ten-year sentence<br />
      Frank: not guilty, 1; guilty, 3 and 4; death<br />
      Frick: not guilty, 1 guilty, 2, 3, and 4; death<br />
      Fritzsche: not guilty<br />
      Funk: not guilty, 1; guilty, 2, 3, and 4; life sentence<br />
      Goering: guilty, 1, 2, 3, and 4; death<br />
      Hess: not guilty, 3 and 4; guilty, 1 and 2; life sentence<br />
      Jodl: guilty, 1, 2, 3, and 4; death<br />
      Kaltenbrunner: not guilty, 1; guilty, 3 and 4; death<br />
      Keitel: guilty, 1, 2, 3, and 4; death<br />
      Neurath: guilty, 1, 2, 3, and 4; fifteen-year sentence<br />
      Papen: not guilty<br />
      Raeder: guilty, 1, 2, and 3; life sentence<br />
      Ribbentrop: guilty, 1, 2, 3, and 4; death<br />
      Rosenberg: guilty, 1, 2, 3, and 4; death<br />
      Sauckel: not guilty, 1 and 2; guilty, 3 and 4; death<br />
      Schacht: not guilty<br />
      Schirach: not guilty, 1; guilty, 4; twenty-year sentence<br />
      Seyss-Inquart: not guilty, 1; guilty, 2, 3, and 4; death<br />
      Speer: not guilty, 1 and 2; guilty, 3 and 4; twenty-year sentence<br />
      Streicher: not guilty, 1; guilty, 4; death<br />
      <br />
      General Staff and High Command: not criminal<br />
      Gestapo: criminal<br />
      Leadership Corps of the NSDAP: criminal<br />
      Reich Cabinet: not criminal<br />
      SA: not criminal<br />
      SS, including the SD: criminal<br />
    </p>
</section>

<section class="theme-light">
  <div class="anchor" id="evidence"></div>
  <h2>Evidence Sets used, with number range</h2>
  <table class="table-trial-chronology">
    <tr><td>C 2-195</td><td>British Admiralty</td></tr>
    <tr><td>D 39-976</td><td>British prosecution</td></tr>
    <tr><td>EC 3-611</td><td>Economics</td></tr>
    <tr><td>ECH 2-174</td><td>Economics, from Heidelberg document center</td></tr>
    <tr><td>F 44-989</td><td></td></tr>
    <tr><td>L 3-361</td><td>London</td></tr>
    <tr><td>M 1-158</td><td>British prosecution</td></tr>
    <tr><td>NO 7-116</td><td>Nuremberg Organizations</td></tr>
    <tr><td>PS 1-4071</td><td>Paris-Storey, US prosecution</td></tr>
    <tr><td>R 36-178</td><td>OSS, London office</td></tr>
    <tr><td>RF 9-1430</td><td>French prosecution</td></tr>
    <tr><td>TC 1-93</td><td>Treaties and other international agreements</td></tr>
    <tr><td>UK 20-170</td><td></td></tr>
    <tr><td>USA 21-845</td><td></td></tr>
    <tr><td>USSR 8-522</td><td>Soviet prosecution</td></tr>
  </table>

  <h3>Parties entering exhibits, with exhibit number range</h3>
  <table class="table-trial-chronology">
    <tr><td>GB 1-628</td></tr>
    <tr><td>RF 1-1545</td></tr>
    <tr><td>USA document books A-J, 1-930</td></tr>
    <tr><td>USSR 1-522</td></tr>
    <tr><td>Defendants, by name</td></tr>
    <tr><td>Gestapo</td></tr>
    <tr><td>Misc</td></tr>
    <tr><td>SA</td></tr>
  </table>
</section>
{% endblock %}
