{% extends "base.html" %}
{% load static %}

{% block title %} Explore the Nuremberg Trials! {% endblock %}

{% block header %}{% endblock %}

{% block body_class %}landing-page{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script>
    var select = document.querySelector('#report-select-date')

    select.addEventListener('change', function(){
      var shown_reports = document.getElementsByClassName("report-content show")
      var i;

      for (i = 0; i < shown_reports.length; i++) {
        shown_reports[i].classList.add("hide");
        shown_reports[i].classList.remove("show");
      };

      document.getElementById(select.value).classList.remove("hide");
      document.getElementById(select.value).classList.add("show");
    })

  </script>
{% endblock %}

{% block content %}
<section class="landing-hero">
  {% include 'nav.html' %}

  <div class="landing-hero-content">
    <hgroup class="landing-header">
      <h1>
        Search thousands of historical documents from the Nuremberg trials.
      </h1>
      <h2>
        Examine trial transcripts, briefs, document books, evidence files, and other
        papers from the trials of military and political leaders of Nazi Germany.
      </h2>
    </hgroup>
    <form class="landing-search" action='{% url 'search:search' %}' method='GET'>
      {% include 'search/search-bar.html' %}

      <div class="search-box-bottom">
        <fieldset class="include-materials">
          <legend>Include these materials:</legend>
          <label>
            <input type="checkbox" name="m" value="documents" checked />
            Documents
          </label>
          <label>
            <input type="checkbox" name="m" value="transcripts" checked />
            Transcripts
          </label>
          <label>
            <input type="checkbox" name="m" value="photographs" checked />
            Photographs
          </label>
        </fieldset>
        <a href="/search/?q=*&m=documents&m=transcripts&m=photographs#advanced" class="advanced-search-link">Advanced Search</a>
      </div>
    </form>
  </div>
</section>

<section class="collection">
  <div id="content"></div>
  <h2> Access the Collection </h2>
  <p class="partial-width">
    The Harvard Law School Library's Nuremberg Trials Project is an open-access initiative to create
    and present digitized images or full-text versions of the Library's Nuremberg documents,
    descriptions of each document, and general information about the trials.
  </p>
  <p class="hint-serif">
    The project currently provides access to materials for seven of the thirteen
    trials: IMT (prosecution documents), NMT 1-4, 7 and 9. The remainder of the
    trials (including the IMT defense documents) are currently being processed.
  </p>
  <div class="materials four-column-layout">
    <div class="column material-category material-documents">
      <a href="search/?q=source:case*"><h3> Trial documents </h3></a>
      <p class="module">
        Documents used by the prosecution and defense during the trials.
      </p>
    </div>
    <div class="column material-category material-documents">
      <a href="search/?q=source:photostat|nmt*"><h3> Evidence file documents </h3></a>
      <p class="module">
        Sets of evidentiary material assembled by the war crimes staff for potential use in the trials.
      </p>
    </div>
    <div class="column material-category material-transcripts">
      <a href="search/?q=&m=transcripts"><h3> Trial transcripts </h3></a>
      <p class="module">
        Verbatim records of proceedings in court, including witness testimony, oral arguments, and court rulings and judgments.
      </p>
    </div>
    <div class="column material-category material-photographs">
      <a href="search/?q=&m=photographs"><h3> Photographs </h3></a>
      <p class="module">
        Photographs of Nuremberg Trials defendants, judges, and trial activities.
      </p>
    </div>
  </div>
  <footer>
    <a class="teaser" href="{% url 'content:about' %}"> More about the Project </a>
  </footer>
</section>

<section class="trials">
  <h2>The Trials</h2>
  <p>Each trial includes a summary, chronology overview, persons involved, indictments, detailed chronology.</p>

  <div class="three-column-layout trial-preview">
    <div class="column trial-image">
      {% with image_path='images/trials/'|add:case.image_path %}
      <img src="{% static image_path %}" alt="{{ case.image_caption }}" />
      {% endwith %}
      <p class="module">{{ case.image_caption }}</p>
    </div>
    <div class="column trial-links">
      <a class="button tag-button" href="{% url 'content:'|add:case.code_name %}">Overview</a>
      <a class="button tag-button" href="/search/?q=trial:{{ case.code_name }}&m=documents">Documents</a>
      <a class="button tag-button" href="/transcripts/{{ case.transcript.id }}?seq=1&q=+type:transcripts">Transcripts</a>
      <a class="button tag-button" href="{% url 'content:'|add:case.code_name %}#persons">Defendants</a>
    </div>
    <div class="column trial-summary">
      <p class="module"><strong>{{ case.alias }}</strong> {{ case.description }}</p>
    </div>
  </div>
  <footer>
    <a class="teaser" href="{% url 'content:trials' %}"> Access all the trials </a>
  </footer>
</section>

<section class="project-news">

  <div class="two-column-layout project-news">
    <div class="column project-new-links">
      <h2>Nuremberg Project News</h2>
      <a class="teaser" href="https://www.youtube.com/watch?v=finv6A3qRKg&feature=youtu.be"> Treasures of the Harvard Law School Library </a>
      <a class="teaser" href="https://hls.harvard.edu/today/notes-nuremberg-documentarian/"> Notes of a Nuremberg Documentarian </a>
      <a class="teaser" href="https://news.harvard.edu/gazette/story/2016/10/devils-in-the-details/"> Devil's in the Details </a>
    </div>

    <div class="column project-new-reports">
      <div class="two-column-layout">
      <div class="column"><h2>Document Analyst's Report</h2></div>
      <div class="column report-date">
        <select id="report-select-date">
          {% for report in reports %}<option value="report-{{ report.id }}">{{ report.date_display }}</option>{% endfor %}
        </select>
      </div>
      </div>
      {% for report in reports %}
      <div id="report-{{ report.id }}" class="report-content {% if forloop.first %}show{% else %}hide{% endif %}">
        <p>{{ report.content|truncatewords:75 }}</p>
        <a class="teaser" href="{% url 'content:report-detail' report.pk %}"> Continue Reading </a>
      </div>
      {% endfor %}
    </div>
  </div>

</section>

{% endblock %}
