{% extends "base.html" %}
{% load static %}

{% block title %}Case 5: The Flick Case{% endblock %}
{% block body_class %}about{% endblock %}

{% block header %}
  {{ block.super }}
  <nav aria-label="Topics for NMT-5" class="sub-nav horizontal">
    <li><a href="#summary">Summary</a></li>
    <li><a href="#persons">Persons Involved</a></li>
    <li><a href="#chronology">Chronology</a></li>
    <li><a href="#indictment">Indictment</a></li>
    <li><a href="#organizations">Organizations</a></li>
    <li><a href="#detailed-chronology">Detailed Chronology</a></li>
    <li><a href="#judgment">Judgment</a></li>
  </nav>
{% endblock %}

{% block content %}
<div id="content"></div>
<section class="theme-light">
  <div><h1>NMT Case 5</h1><h2>USA vs. Friedrich Flick, et al.</h2></div>
</section>

<section class="theme-light">
  <div class="anchor" id="summary"></div>
  <h2>Summary</h2>
  <p>Trial V, <i>The United States of America vs. Friedrich Flick et al.</i>, also known as the "Flick Trial", took place between February and December 1947; appeal of sentences continued through Nov 1949. Six defendants were charged with the commission of war crimes and crimes against humanity. The English transcript of the trial runs to some 11,026 pages. During the trial, the prosecution introduced 869 written exhibits and 31 witnesses; the defense introduced 613 written exhibits and 20 witnesses. The tribunal convened 136 times.</p>
  <p>This trial was the first of the three so-called industrialist cases. The defendants were leading officials in the Flick Concern or its subsidiary companies (of which there were at least sixteen). The Flick Concern was the largest privately-owned enterprise in Germany for the production of iron, steel, and armaments; Friedrich Flick was the principal proprietor, dominating influence, and active head of a large group of enterprises in the coal, iron, and steel industries. In addition, he was on the board of many other companies and held executive positions on important national boards set up to regulate these industries. The other defendants were leading officials in various Flick enterprises. Otto Steinbrinck also held the positions of Plenipotentiary for Coal in the Occupied Western Territories and Plenipotentiary General for the Steel Industry in occupied France, Belgium, and Luxembourg.</p>
</section>

<section class="theme-light">
  <div class="anchor" id="persons"></div>
  <h2>Persons Involved</h2>
  <h3>Military Tribunal IV</h3>
  <ul>
    <li>Charles B. Sears, presiding judge</li>
    <li>Frank N. Richman, judge</li>
    <li>William C. Christianson, judge</li>
    <li>Richard D. Dixon, alternate judge</li>
  </ul>
  <h3>Prosecution</h3>
  <ul>
    <li>Brigadier General Telford Taylor, Chief of Counsel for War Crimes for all NMT Trials</li>
    <li>Thomas Ervin and Rawlings Ragland, Deputy Chief Counsel</li>
    <li>Charles Lyon, Chief, Flick Trial Team</li>
    <li>Associate counsel: Norbert Barr, Paul Gantt, Ralph Goodman, Richard Lansdale, Edwin Sears, Joseph Stone, Blake Woodson</li>
  </ul>
  <h3>Defendants</h3>
  <ul>
    <li>Friedrich Flick</li>
    <li>Odilo Burkart</li>
    <li>Konrad Kaletsch</li>
    <li>Otto Steinbrinck</li>
    <li>Hermann Terberger</li>
    <li>Bernhard Weiss</li>
  </ul>
  <h3>Defense Counsel</h3>
  <ul>
    <li>Flick: Dr. Rudolf Dix</li>
    <li>Burkart: Dr. Otto Kranzbuehler</li>
    <li>Kaletsch: Dr. Herbert Nath</li>
    <li>Steinbrinck: Dr. Hans Flaechsner</li>
    <li>Terberger: Dr. Horst Pelckmann</li>
    <li>Weiss: Dr. Walter Siemers</li>
  </ul>
</section>

<section class="theme-light">
  <div class="anchor" id="chronology"></div>
  <h2>Chronology Overview</h2>
  <ul>
    <li>Indictment filed 8 Feb 1947</li>
    <li>Indictment served 8 Feb 1947</li>
    <li>Amended indictment filed 18 Mar 1947</li>
    <li>Amended indictment served 18 Mar 1947</li>
    <li>Arraignment 19 Apr 1947</li>
    <li>Prosecution Opening Statement 19 Apr 1947</li>
    <li>Defense Opening Statement 2 July 1947</li>
    <li>Prosecution Closing Statement 24 Nov 1947</li>
    <li>Defense Closing Statement 25-29 Nov 1947</li>
    <li>Prosecution rebuttal 29 Nov 1947</li>
    <li>Judgment 22 Dec 1947</li>
    <li>Sentence 22 Dec 1947</li>
    <li>Affirmation of sentences 30 June 1948</li>
    <li>Denial of writ of habeas corpus 6 Apr 1948</li>
    <li>Denial of appeal of above 11 May 1949</li>
    <li>Denial of writ of certiorari 14 Nov 1949</li>
  </ul>
</section>

<section class="theme-light">
  <div class="anchor" id="indictment"></div>
  <h2>Indictments</h2>
  <p><strong>Count 1: War Crimes and Crimes against Humanity</strong></p>
  <ol>
    <li>Enslavement and deportation to slave labor of civilians</li>
    <li>Enslavement of concentration camp inmates</li>
    <li>Use of prisoners of war in war operations and related work</li>
  </ol>
  <p><strong>Count 2: War Crimes and Crimes against Humanity</strong></p>
  <ol><li>Plunder and spoliation in occupied countries and territories</li></ol>
  <p><strong>Count 3: Crimes against Humanity</strong></p>
  <ol><li>Persecution on racial, religious, and political grounds, including the "Aryanization" of Jewish property</li></ol>
  <p><strong>Count 4: War Crimes and Crimes against Humanity</strong></p>
  <ol><li>Murders, atrocities, inhumane acts resulting from working with the Nazi Party and its organizations such as the SS, especially through the group "Friends of Himmler"</li></ol>
  <p><strong>Count 5:</strong> Membership in the SS, an organization declared to be criminal by the International Military Tribunal</p>
  <p><strong>Evidence File Groups Used in Trial:</strong> D, EC, NI, PS, R</p>
</section>

<section class="theme-light">
  <div class="anchor" id="organizations"></div>
  <h2>Other Persons/Organizations Mentioned</h2>
  <ul style="font-size: 0.9em;">
    <li><strong>Friedrich Flick Kommanditgesellschaft:</strong> parent holding company in Flick concern</li>
    <li><strong>Reichsvereinigung Eisen</strong> (RVE): official organization regulating the German iron and steel industry</li>
    <li><strong>Wirtschaftsgruppe Eisenschaffende Industrie:</strong> Economic Group of the Iron Producing Industry</li>
    <li><strong>Ostgesellschaften:</strong> enterprises set up to exploit industry in the East/USSR (see next entry for example)</li>
    <li><strong>Berg- und Huettenwerke Ost G.m.b.H.</strong> (BHO), a government sponsored company established to exploit mines and iron/steel plants in the USSR</li>
    <li><strong>Eisenwerk Gesellschaft Maximilianshuette A.G.</strong> (Maxhuette) Iron mines and smelting plants located in Sulzbach-Rosenberg, 50 km east of Nuremberg</li>
    <li><strong>"Kleiner Kreis":</strong> a group of leaders of the iron, steel and coal industries</li>
    <li><strong>Reichsvereinigung Kohle</strong> (RVK): official organization regulating German coal industry</li>
    <li><strong>"Friends of Himmler" aka "Freundeskreis" aka "Keppler Circle":</strong> organization of business leaders offering aid and financial support to the SS</li>
    <li><strong>Siegenermaschinenbau A.G.</strong> (SIEMAG): steel processing company in Düsseldorf</li>
    <li><strong>Deutsche Maschinenbau Aktiengesellschaft</strong> (DEMAG): construction firm, manufacturer of tanks, locomotives, railroad cars</li>
    <li><strong>Braunkohle-Benzin A.G.</strong> (BRABAG): government-sponsored company for manufacturing synthetic fuel from brown coal</li>
    <li><strong>Vereinigte Stahlwerke A.G.</strong> (Stahlverein): steel company formed in 1926, with over 1/3 of Germany's steel manufacturing capacity</li>
    <li><strong>Mitteldeutsche Stahlwerke A.G.</strong> (Mittelstahl): steel conglomerate owned by Frick in Riesa and later near Berlin</li>
    <li><strong>"FAGUMA":</strong> Gesellschaft fuer Fahrzeug- und Maschinenwerke m.b.H., a holding company within the Flick conglomerate</li>
    <li><strong>Rigaer Waggonfabrik</strong> (VAIROGS): a firm in Latvia manufacturing railroad cars</li>
    <li><strong>Petschek family:</strong> a family of leading bankers/industrialists in Prague, whose mining business was 'sold' to the Flick concern through "Aryanization"</li>
    <li><strong>Rawack und Gruenfeld:</strong> an ore-trading concern in Luebeck which was transferred to the Flick concern through "Aryanization"</li>
  </ul>
</section>

<section class="theme-light">
  <div class="anchor" id="detailed-chronology"></div>
  <h2>Detailed Chronology</h2>
  <table style="font-size: 0.85em; width: 100%;">
    <tbody>
<tr><td>15 Mar 1947</td><td>1-30</td><td>Reading of indictment</td></tr>
<tr><td>19 Apr 1947</td><td>31-34</td><td>Arraignment, pleas</td></tr>
<tr><td>19 Apr 1947</td><td>34-150</td><td>Prosecution opening statement</td></tr>
<tr><td>21 Apr 1947</td><td>151-243</td><td>Prosecution document books 1,2</td></tr>
<tr><td>22 Apr 1947</td><td>244-345</td><td>Prosecution document books 2, 3A</td></tr>
<tr><td>23 Apr 1947</td><td>346-447</td><td>Prosecution document books 3A, 3B, 4</td></tr>
<tr><td>25 Apr 1947</td><td>448-497</td><td>Prosecution document book 5A</td></tr>
<tr><td>28 Apr 1947</td><td>498-574</td><td>Prosecution document book 5A; Witness Wladimir Rittenberg</td></tr>
<tr><td>29 Apr 1947</td><td>575-655</td><td>Witnesses Wladimir Rittenberg, Joseph Hlavac</td></tr>
<tr><td>30 Apr 1947</td><td>656-708</td><td>Witness Fernand Travers</td></tr>
<tr><td>1 May 1947</td><td>709-781</td><td>Witnesses Fernand Travers, Evelokia Voytovitch</td></tr>
<tr><td>2 May 1947</td><td>782-866</td><td>Witnesses Voytovitch, Sonia Cheyko, Z. Lipold</td></tr>
<tr><td>5 May 1947</td><td>867-958</td><td>Witnesses Zdenek Lipold, Emil Maudr Prosecution document books 5A/5B</td></tr>
<tr><td>6 May 1947</td><td>959-1056</td><td>Emil Maudr, document book 5B</td></tr>
<tr><td>7 May 1947</td><td>1057-1163</td><td>Document books 5B, 6A</td></tr>
<tr><td>8 May 1947</td><td>1164-1262</td><td>Document books 6A/B, 7</td></tr>
<tr><td>9 May 1947</td><td>1263-1333</td><td>Witnesses Mojmir Kratochvil, Frantisek Dudik</td></tr>
<tr><td>12 May 1947</td><td>1334-1430</td><td>Document books 7,8</td></tr>
<tr><td>13 May 1947</td><td>1431-1522</td><td>Document books 8,9</td></tr>
<tr><td>14 May 1947</td><td>1523-1609</td><td>Document book 9A</td></tr>
<tr><td>15 May 1947</td><td>1610-1682</td><td>Document book 10A</td></tr>
<tr><td>16 May 1947</td><td>1683-1755</td><td>Document books 10A, 10C</td></tr>
<tr><td>19 May 1947</td><td>1756-1840</td><td>Document book 10B</td></tr>
<tr><td>20 May 1947</td><td>1841-1927</td><td>Document books 10A-C</td></tr>
<tr><td>21 May 1947</td><td>1928-2000</td><td>Document books 10C, 9A, 11A</td></tr>
<tr><td>22 May 1947</td><td>2001-2105</td><td>Document books 11B, 9A, 2</td></tr>
<tr><td>23 May 1947</td><td>2106-2208</td><td>Document books 11B, 12, 13D</td></tr>
<tr><td>27 May 1947</td><td>2209-2290</td><td>Document books 13D, 13A</td></tr>
<tr><td>28 May 1947</td><td>2291-2377</td><td>Witness Karl Kittelmann; books 13A, 13B</td></tr>
<tr><td>29 May 1947</td><td>2378-2430</td><td>Witness Rainer Brambusch</td></tr>
<tr><td>3 June 1947</td><td>2431-2509</td><td>Document books 13B/C; 10A-D, Erich Gritzbach</td></tr>
<tr><td>4 June 1947</td><td>2510-2535</td><td>Erich Gritzbach; book 3B</td></tr>
<tr><td>5 June 1947</td><td>2536-2669</td><td>Witness Wilhelm Kimmich</td></tr>
<tr><td>6 June 1947</td><td>2670-2751</td><td>Wilhelm Kimmich; document book 14A</td></tr>
<tr><td>9 June 1947</td><td>2752-2818</td><td>Witness Auguste Roessler</td></tr>
<tr><td>10 June 1947</td><td>2819-2901</td><td>Auguste Roessler; document books 14A/B</td></tr>
<tr><td>11 June 1947</td><td>2902-2980</td><td>Witness Karl Lindemann</td></tr>
<tr><td>12 June 1947</td><td>2981-3054</td><td>Karl Lindemann, document book 14C</td></tr>
<tr><td>13 June 1947</td><td>3055-3119</td><td>Document books 14D, 14A; Karl Lindemann</td></tr>
<tr><td>2 July 1947</td><td>3120-3149</td><td>Defense opening statement for Flick</td></tr>
<tr><td>2 July 1947</td><td>3150-3205</td><td>Flick testimony</td></tr>
<tr><td>3 July 1947</td><td>3206-3243</td><td>Flick testimony</td></tr>
<tr><td>7 July 1947</td><td>3243-3325</td><td>Flick testimony</td></tr>
<tr><td>8 July 1947</td><td>3326-3396</td><td>Flick testimony</td></tr>
<tr><td>9 July 1947</td><td>3397-3435</td><td>Flick testimony</td></tr>
<tr><td>10 July 1947</td><td>3436-3513</td><td>Flick testimony</td></tr>
<tr><td>11 July 1947</td><td>3514-3585</td><td>Flick testimony</td></tr>
<tr><td>14 July 1947</td><td>3586-3666</td><td>Flick cross-examination</td></tr>
<tr><td>15 July 1947</td><td>3667-3748</td><td>Flick cross-examination</td></tr>
<tr><td>16 July 1947</td><td>3749-3832</td><td>Flick cross-examination</td></tr>
<tr><td>17 July 1947</td><td>3833-3915</td><td>Flick cross-examination, re-direct examination</td></tr>
<tr><td>18 July 1947</td><td>3916-3980</td><td>Opening statements for Steinbrinck, Kaletsch, Weiss, Terberger</td></tr>
<tr><td>21 July 1947</td><td>3981-4076</td><td>Dr. Hjalmar Schacht; Hermann von Hanneken</td></tr>
<tr><td>22 July 1947</td><td>4077-4164</td><td>Hermann von Hanneken</td></tr>
<tr><td>23 July 1947</td><td>4165-4257</td><td>Hermann von Hanneken; Paul Pleiger</td></tr>
<tr><td>24 July 1947</td><td>4258-4346</td><td>Paul Pleiger</td></tr>
<tr><td>25 July 1947</td><td>4347-4424</td><td>Paul Pleiger</td></tr>
<tr><td>28 July 1947</td><td>4425-4521</td><td>Kurt Schroeder; Flick book 1</td></tr>
<tr><td>29 July 1947</td><td>4522-4608</td><td>Flick document books 1-2</td></tr>
<tr><td>30 July 1947</td><td>4609-4694</td><td>Flick books 2-3; Steinbrinck testimony</td></tr>
<tr><td>31 July 1947</td><td>4695-4771</td><td>Steinbrinck testimony</td></tr>
<tr><td>1 Aug 1947</td><td>4772-4843</td><td>Steinbrinck testimony</td></tr>
<tr><td>4 Aug 1947</td><td>4844-4927</td><td>Steinbrinck testimony</td></tr>
<tr><td>5 Aug 1947</td><td>4928-5005</td><td>Steinbrinck testimony</td></tr>
<tr><td>6 Aug 1947</td><td>5006-5088</td><td>Steinbrinck testimony</td></tr>
<tr><td>7 Aug 1947</td><td>5089-5170</td><td>Steinbrinck testimony, cross-examination</td></tr>
<tr><td>8 Aug 1947</td><td>5171-5253</td><td>Steinbrinck cross-examination</td></tr>
<tr><td>11 Aug 1947</td><td>5254-5345</td><td>Steinbrinck cross-examination</td></tr>
<tr><td>12 Aug 1947</td><td>5346-5437</td><td>Steinbrinck cross-examination</td></tr>
<tr><td>13 Aug 1947</td><td>5438-5460</td><td>Steinbrinck redirect examination</td></tr>
<tr><td>"</td><td>5461-5512</td><td>Alfred Rohde testimony</td></tr>
<tr><td>14 Aug 1947</td><td>5513-5573</td><td>Walter Jantzen testimony</td></tr>
<tr><td>"</td><td>5574-5590</td><td>Friedrich Brockhues testimony</td></tr>
<tr><td>15 Aug 1947</td><td>5591-5678</td><td>Friedrich Brockhues testimony</td></tr>
<tr><td>18 Aug 1947</td><td>5679-5718</td><td>Karl Blessing testimony</td></tr>
<tr><td>"</td><td>5719-5755</td><td>Wilhelm Keppler testimony</td></tr>
<tr><td>"</td><td>5756-5763</td><td>general discussion</td></tr>
<tr><td>19 Aug 1947</td><td>5764-5840</td><td>Burkart document book 1</td></tr>
<tr><td>20 Aug 1947</td><td>5841-5924</td><td>Rudolf Schleier testimony</td></tr>
<tr><td>21 Aug 1947</td><td>5925-5944</td><td>Rudolf Schleier</td></tr>
<tr><td>"</td><td>5945-5952</td><td>Burkart document book 1</td></tr>
<tr><td>"</td><td>5952-5967</td><td>Constantin von Neurath testimony; Burkart book 1</td></tr>
<tr><td>22 Aug 1947</td><td>5968-6055</td><td>Walter Stothfang testimony</td></tr>
<tr><td>25 Aug 1947</td><td>6056-6095</td><td>Walter Stothfang testimony</td></tr>
<tr><td>26 Aug 1947</td><td>6096-6147</td><td>Burkart document book 2</td></tr>
<tr><td>"</td><td>6148-6195</td><td>Burkart document book 3</td></tr>
<tr><td>27 Aug 1947</td><td>6196-6243</td><td>Burkart document book 3</td></tr>
<tr><td>"</td><td>6244-6279</td><td>Jacob Reichert testimony</td></tr>
<tr><td>28 Aug 1947</td><td>6280-6311</td><td>Jacob Reichert testimony</td></tr>
<tr><td>"</td><td>6312-6364</td><td>Burkart book 4; Paul Rohland testimony</td></tr>
<tr><td>29 Aug 1947</td><td>6365-6398</td><td>Paul Rohland testimony</td></tr>
<tr><td>"</td><td>6399-6422</td><td>Burkart document book 4</td></tr>
<tr><td>"</td><td>6423-6450</td><td>Burkart testimony</td></tr>
<tr><td>2 Sept 1947</td><td>6451-6541</td><td>Burkart testimony</td></tr>
<tr><td>3 Sept 1947</td><td>6542-6631</td><td>Burkart testimony</td></tr>
<tr><td>4 Sept 1947</td><td>6632-6721</td><td>Burkart testimony</td></tr>
<tr><td>5 Sept 1947</td><td>6722-6754</td><td>Burkart testimony</td></tr>
<tr><td>"</td><td>6755-6805</td><td>Burkart cross-examination</td></tr>
<tr><td>"</td><td>6806-6810</td><td>Karl Kuettner testimony</td></tr>
<tr><td>8 Sept 1947</td><td>6811-6872</td><td>Karl Kuettner testimony</td></tr>
<tr><td>"</td><td>6872-6902</td><td>Burkart document books 4, 5</td></tr>
<tr><td>"</td><td>6902-6905</td><td>Ernst Ludwig Simon testimony</td></tr>
<tr><td>9 Sept 1947</td><td>6906-6996</td><td>Ernst Ludwig Simon testimony</td></tr>
<tr><td>10 Sep 1947</td><td>6997-7011</td><td>Ernst Ludwig Simon testimony</td></tr>
<tr><td>"</td><td>7011-7018</td><td>Burkart document book 5</td></tr>
<tr><td>"</td><td>7021-7095</td><td>Erich Weisser testimony</td></tr>
<tr><td>11 Sep 1947</td><td>7096-7144</td><td>Erich Weisser testimony</td></tr>
<tr><td>"</td><td>7145-7151</td><td>Burkart document book 5</td></tr>
<tr><td>"</td><td>7151-7183</td><td>Friedrich Oehme testimony</td></tr>
<tr><td>12 Sep 1947</td><td>7184-7199</td><td>Friedrich Oehme testimony</td></tr>
<tr><td>"</td><td>7200-7227</td><td>Burkart document book 5</td></tr>
<tr><td>"</td><td>7228-7280</td><td>Hermann Roechling testimony</td></tr>
<tr><td>15 Sep 1947</td><td>7281-7343</td><td>Hermann Roechling testimony</td></tr>
<tr><td>"</td><td>7344-7349</td><td>Burkart document book 6</td></tr>
<tr><td>"</td><td>7350-7366</td><td>Otto Ernst Flick testimony</td></tr>
<tr><td>16 Sep 1947</td><td>7367-7426</td><td>Otto Ernst Flick testimony</td></tr>
<tr><td>"</td><td>7427-7456</td><td>Burkart document book 6</td></tr>
<tr><td>17 Sep 1947</td><td>7457-7492</td><td>Gustav Kniess testimony</td></tr>
<tr><td>"</td><td>7493-7541</td><td>Kaletsch testimony, document book 1</td></tr>
<tr><td>18 Sep 1947</td><td>7542-7628</td><td>Kaletsch testimony, document book 1</td></tr>
<tr><td>19 Sep 1947</td><td>7629-7716</td><td>Kaletsch testimony, document book 1</td></tr>
<tr><td>22 Sep 1947</td><td>7717-7764</td><td>Kaletsch testimony</td></tr>
<tr><td>"</td><td>7765-7807</td><td>Kaletsch cross-examination</td></tr>
<tr><td>23 Sep 1947</td><td>7808-7904</td><td>Kaletsch cross-examination</td></tr>
<tr><td>24 Sep 1947</td><td>7905-7936</td><td>Kaletsch redirect examination</td></tr>
<tr><td>"</td><td>7937-7999</td><td>Kaletsch document books 1, 2</td></tr>
<tr><td>30 Sep 1947</td><td>8000-8034</td><td>Weiss document books 1, 2</td></tr>
<tr><td>"</td><td>8035-8083</td><td>Walter Letsch testimony</td></tr>
<tr><td>1 Oct 1947</td><td>8084-8110</td><td>Walter Letsch testimony</td></tr>
<tr><td>"</td><td>8111-8150</td><td>Martin Sogemeier testimony</td></tr>
<tr><td>2 Oct 1947</td><td>8151-8226</td><td>Martin Sogemeier testimony</td></tr>
<tr><td>3 Oct 1947</td><td>8227-8269</td><td>Weiss document book 2</td></tr>
<tr><td>"</td><td>8270-8303</td><td>Otto Schlarb testimony</td></tr>
<tr><td>6 Oct 1947</td><td>8304-8341</td><td>Otto Schlarb testimony</td></tr>
<tr><td>7 Oct 1947</td><td>8332-8408</td><td>Otto Schlarb testimony</td></tr>
<tr><td>"</td><td>8408-8432</td><td>Weiss document book 4</td></tr>
<tr><td>8 Oct 1947</td><td>8433-8496</td><td>Erhard Milch testimony</td></tr>
<tr><td>"</td><td>8497-8505</td><td>Weiss document book 3</td></tr>
<tr><td>9 Oct 1947</td><td>8506-8535</td><td>Weiss document book 3</td></tr>
<tr><td>"</td><td>8535-8596</td><td>Walter Tengelmann testimony</td></tr>
<tr><td>13 Oct 1947</td><td>8597-8678</td><td>Walter Tengelmann testimony</td></tr>
<tr><td>"</td><td>8678-8694</td><td>Weiss document book 5a</td></tr>
<tr><td>14 Oct 1947</td><td>8695-8749</td><td>Charles Laurent testimony</td></tr>
<tr><td>15 Oct 1947</td><td>8750-8812</td><td>Rudolf Hahn testimony</td></tr>
<tr><td>"</td><td>8813-8823</td><td>Weiss document book 5a</td></tr>
<tr><td>16 Oct 1947</td><td>8824-8885</td><td>Weiss document books 5a, 5b</td></tr>
<tr><td>"</td><td>8886-8910</td><td>Weiss testimony</td></tr>
<tr><td>17 Oct 1947</td><td>8911-8996</td><td>Weiss testimony</td></tr>
<tr><td>20 Oct 1947</td><td>8997-9077</td><td>Weiss testimony</td></tr>
<tr><td>21 Oct 1947</td><td>9078-9087</td><td>Weiss testimony</td></tr>
<tr><td>"</td><td>9088-9125</td><td>Weiss cross-examination</td></tr>
<tr><td>"</td><td>9126-9153</td><td>Speer interrogatory read into record</td></tr>
<tr><td>"</td><td>9154-9155</td><td>Discussion</td></tr>
<tr><td>"</td><td>9156-9185</td><td>Bernhard Weinhardt testimony</td></tr>
<tr><td>22 Oct 1947</td><td>9186-9210</td><td>Bernhard Weinhardt testimony</td></tr>
<tr><td>"</td><td>9211-9223</td><td>Weiss document book 5b</td></tr>
<tr><td>"</td><td>9224-9259</td><td>Eduard Boge testimony</td></tr>
<tr><td>23 Oct 1947</td><td>9260-9281</td><td>Eduard Boge testimony</td></tr>
<tr><td>"</td><td>9282-9285</td><td>Discussion</td></tr>
<tr><td>"</td><td>9286-9305</td><td>Weiss document book 6a</td></tr>
<tr><td>"</td><td>9306-9336</td><td>Flick document books 4, 5</td></tr>
<tr><td>24 Oct 1947</td><td>9337-9416</td><td>Terberger testimony, document book 4</td></tr>
<tr><td>27 Oct 1947</td><td>9417-9451</td><td>Terberger testimony</td></tr>
<tr><td>"</td><td>9452-9477</td><td>Terberger document books 5, 6, 3, 2, 4</td></tr>
<tr><td>"</td><td>"</td><td>supplement to document book 2</td></tr>
<tr><td>"</td><td>9478-9486</td><td>Terberger testimony</td></tr>
<tr><td>28 Oct 1947</td><td>9487-9570</td><td>Terberger testimony, books 2, 3, 4</td></tr>
<tr><td>29 Oct 1947*</td><td>9571-9601</td><td>Terberger testimony, books 2, 3, 4, 5</td></tr>
<tr><td>"</td><td>9602-9657</td><td>Terberger cross-examination; redirect</td></tr>
<tr><td>30 Oct 1947</td><td>9658-9747</td><td>Herbert Vogel testimony, Terberger book 4</td></tr>
<tr><td>"</td><td>9748-9750</td><td>Walter Laermann testimony</td></tr>
<tr><td>31 Oct 1947</td><td>9750-9810</td><td>Walter Laermann testimony</td></tr>
<tr><td>"</td><td>9811-9820</td><td>Friedrich Wesemann testimony</td></tr>
<tr><td>"</td><td>9821-9824</td><td>Terberger doc bk 7</td></tr>
<tr><td>"</td><td>9825-9832</td><td>Steinbrinck document books 1, 2, 3, 4, 5</td></tr>
<tr><td>1 Nov 1947</td><td>9833-9869</td><td>Steinbrinck document books 1, 2, 3</td></tr>
<tr><td>3 Nov 1947</td><td>9870-9885</td><td>Steinbrinck books 1, 2, 3, 4, 5; Flick book 6</td></tr>
<tr><td>"</td><td>9886-9914</td><td>Burkart document books 7 (+ supp) and 8</td></tr>
<tr><td>"</td><td>9915-9960</td><td>Weiss books 8, 6a, 6b; misc. docs</td></tr>
<tr><td>4 Nov 1947</td><td>9961-9984</td><td>Weiss document book 7</td></tr>
<tr><td>"</td><td>9985-10023</td><td>Erich Albrecht testimony</td></tr>
<tr><td>"</td><td>10023-10034</td><td>Karl Woolf testimony</td></tr>
<tr><td>5 Nov 1947</td><td>10035-10044</td><td>Discussion, correction of errata</td></tr>
<tr><td>6 Nov 1947</td><td>10045-10064</td><td>Josef Gebhardt testimony</td></tr>
<tr><td>"</td><td>10065-10131</td><td>Discussion; prosecution book 15</td></tr>
<tr><td>"</td><td>10132-10147</td><td>Prosecution book 16</td></tr>
<tr><td>7 Nov 1947</td><td>10148-10164</td><td>Prosecution book 16</td></tr>
<tr><td>"</td><td>10164-10180</td><td>Spiegelberg interrogatory read into record</td></tr>
<tr><td>"</td><td>10181-10271</td><td>Prosecution document books 15b, 17, 18</td></tr>
<tr><td>8 Nov 1947</td><td>10272-10328</td><td>Prosecution document books 18, 15a, 19, 17</td></tr>
<tr><td>"</td><td>10328-10331</td><td>Testimony: Flick, Steinbrinck</td></tr>
<tr><td>"</td><td>10331-10343</td><td>General discusion</td></tr>
<tr><td>24 Nov 1947</td><td>10344-10463</td><td>Prosecution closing statement</td></tr>
<tr><td>"</td><td>10464-10469</td><td>General discussion</td></tr>
<tr><td>25 Nov 1947</td><td>10470-10571</td><td>Defense closing statement for Burkart</td></tr>
<tr><td>26 Nov 1947</td><td>10572-10638</td><td>Defense closing statement for Terberger</td></tr>
<tr><td>"</td><td>10638-10713</td><td>Defense closing statement for Kaletsch</td></tr>
<tr><td>28 Nov 1947</td><td>10714-10785</td><td>Defense closing statement for Steinbrinck</td></tr>
<tr><td>"</td><td>10786-10829</td><td>Defense closing statement for Weiss</td></tr>
<tr><td>29 Nov 1947</td><td>10830-10884</td><td>Weiss statement, continued</td></tr>
<tr><td>"</td><td>10885-10951</td><td>Defense closing statement for Flick</td></tr>
<tr><td>"</td><td>10952-10969</td><td>Prosecution final statement</td></tr>
<tr><td>"</td><td>10970-10973</td><td>Final statement by Flick</td></tr>
<tr><td>22 Dec 1947</td><td>10974-11026</td><td>Tribunal opinion, judgment, sentences</td></tr>
    </tbody>
  </table>
</section>

<section class="theme-light">
  <div class="anchor" id="judgment"></div>
  <h2>Judgment and Sentences</h2>
  <p><strong>Friedrich Flick:</strong> guilty on counts 1, 2, 4. Sentence 7 years</p>
  <p><strong>Odilo Burkart:</strong> not guilty (released)</p>
  <p><strong>Konrad Kaletsch:</strong> not guilty (released)</p>
  <p><strong>Otto Steinbrinck:</strong> guilty on counts 4,5. Sentence 5 years.</p>
  <p><strong>Hermann Terberger:</strong> not guilty (released)</p>
  <p><strong>Bernhard Weiss:</strong> guilty on count 1, not guilty count 2. Sentence 2.5 years.</p>
</section>
{% endblock %}

