{% extends "base.html" %}
{% load static %}

{% block title %}Case 12: The High Command Case{% endblock %}

{% block body_class %}about{% endblock %}

{% block header %}
  {{ block.super }}
  <nav aria-label="Topics for NMT-12" class="sub-nav horizontal">
    <li>
      <a href="#summary">Summary</a>
    </li>
    <li>
      <a href="#indictment">Indictment</a>
    </li>
    <li>
      <a href="#persons">Persons Involved</a>
    </li>
    <li>
      <a href="#chronology">Chronology</a>
    </li>
    <li>
      <a href="#positions">Defendants' Positions</a>
    </li>
  </nav>
{% endblock %}

{% block content %}
<div id="content"></div>
<section class="theme-light">
  <div>
    <h1>NMT Case 12</h1>
    <h2>USA vs. Wilhelm von Leeb, et al.</h2>
  </div>
</section>

<section class="theme-light">
  <div class="anchor" id="summary"></div>
  <h2>Summary</h2>
  <p>
    Trial XII, <i>The United States of America vs. Wilhelm von Leeb, et al</i>, more commonly known as "The High Command Case", took place between November 1947 and October 1948. Fourteen defendants, all high-ranking German military leaders, were charged. During the trial, the prosecution introduced 1778 written exhibits and called 32 witnesses; the defense introduced 2130 written exhibits and called 65 witnesses. The tribunal convened 233 times over ten months; the transcript contains 10,316 pages. The defendants were charged with crimes against peace, war crimes, and crimes against humanity, as well as participating in a common plan or conspiracy to commit such crimes. One defendant, Johannes Blaskowitz, committed suicide during the trial, in February 1948; hence only thirteen defendants stood trial.
  </p>

  <p>
    In presenting the case, the prosecution devoted considerable time to describing clandestine re-armament carried out during the Weimar Republic years, in defiance of the Versailles Treaty. The prosecution described how the military leadership worked with Hitler from 1933 onwards to rapidly strengthen preparations for war, including production of airplanes and submarines as early as 1935, the year that Hitler publicly repudiated the Versailles Treaty and reoccupied the Rhineland. The outbreak of the Spanish Civil War a year later provided a testing ground for the German Air Force. One of the defendants, Sperrle, headed the famed "Condor Legion" during this war in Spain.
  </p>

  <p>
    After outlining the involvement of the German military in rapid rearmament and preparation for war, the prosecution discussed the defendants' participation in the many invasions and wars of aggression conducted by the Third Reich, from the annexation of Austria in 1938 to the declaration of war on the United States at the end of 1941. (See Count One.)
  </p>

  <p>
    Counts Two and Three present several specific instances of war crimes and crimes against humanity, both against enemy soldiers and civilians. These include:
  </p>
  <ol>
    <li><strong>The Commando Order:</strong> this 1942 Hitler decree stated that captured enemy commando troops were to be summarily executed whenever encountered</li>
    <li><strong>The "Terror Flier" Decree:</strong> this 1944 order stipulated that Anglo-American downed fliers should not be protected from the actions of the civilian population; the order led to the slaughter of many Allied airmen</li>
    <li><strong>The "Night and Fog" Decree</strong> ("Nacht und Nebel Erlass"): this 1941 decree stated that non-German civilians accused of anti-German acts would be taken to Germany without a trial, and their families would receive no information as to their fate. One of the defendants, Lehmann, was described as the "guiding spirit" behind the formulation, issuance, and execution of this decree, which resulted in the torture, ill-treatment, and murder of thousands of civilians.</li>
  </ol>

  <p>
    The prosecution addressed four specific topics related to hostage-taking and the mass executions that had taken place in Eastern Europe from 1941 on.
  </p>
  <ol>
    <li>the "Commissar Order" (Kommissarbefehl) of 1941, which stated that all 'commissars' or military functionaries in the Soviet Union should be immediately killed rather than granted POW status;</li>
    <li>the ill-treatment and deaths of many hundreds of thousands of prisoners of war in the Soviet Union (most of whom died from starvation or exposure);</li>
    <li>the participation of the Wehrmacht in the extermination of over one million Jews in the USSR (the "Einsatzgruppen" operation, which became the focus of Trial IX)</li>
    <li>Wehrmacht participation in the slave labor program, as a result of which millions of civilians and prisoners of war were deported and enslaved.</li>
  </ol>
</section>

<section class="theme-light">
  <div class="anchor" id="indictment"></div>
  <h2>Indictment</h2>

  <ol>
    <li>Count One: Commission of crimes against peace, through participating in aggressive wars and invasions of other countries.</li>
    <li>Count Two: War crimes and crimes against humanity, especially with regard to murder and ill treatment of prisoners of war.</li>
    <li>Count Three: War crimes in occupied countries, including the killing of thousands of hostages, partisans and civilians; the plunder and spoliation of property; the commitment of civilians to slave labor; and the persecution and extermination of "racially inferior" people.</li>
    <li>Count Four: Participation in a common plan or conspiracy to commit crimes against peace.</li>
  </ol>
</section>

<section class="theme-light">
  <div class="anchor" id="persons"></div>
  <h2>Persons Involved</h2>

  <h3>Military Tribunal V</h3>
  <ul>
    <li>Judge John C. Young, presiding judge</li>
    <li>Judge Winfield B. Hale, member</li>
    <li>Judge Justin W. Harding, member</li>
  </ul>

  <h3>Prosecution Counsel</h3>
  <ul>
    <li>Brigadier General Telford Taylor, Chief of Counsel</li>
    <li>James M. McHaney, Deputy Chief Counsel</li>
    <li>Paul Niederman, Chief Prosecutor</li>
    <li>Associate Counsel: Morton Barbour, George Fulkerson, Eugene Dobbs, James Higgins, Paul Horecky, Arnost Horlick-Hochwald, Walter Rapp</li>
  </ul>

  <h3>Defendants</h3>
  <ul>
    <li>Wilhelm von Leeb</li>
    <li>Hugo Sperrle</li>
    <li>Georg Karl von Kuechler</li>
    <li>Johannes Blaskowitz (removed from trial - suicide)</li>
    <li>Hermann Hoth</li>
    <li>Hans Reinhardt</li>
    <li>Hans von Salmuth</li>
    <li>Karl Hollidt</li>
    <li>Otto Schniewind</li>
    <li>Karl von Roques</li>
    <li>Hermann Reinecke</li>
    <li>Walter Warlimont</li>
    <li>Otto Woehler</li>
    <li>Rudolf Lehmann</li>
  </ul>

  <h3>Defense Counsel</h3>
  <ul>
    <li>Dr. Hans Laternser (von Leeb)</li>
    <li>Dr. Kurt Gollnick (Sperrle and von Salmuth)</li>
    <li>Dr. Kurt Behling ((von Kuechler</li>
    <li>Dr. Heinz Mueller-Torgow (Blaskowitz and Hoth)</li>
    <li>Dr. Friedrich Frohwein (Reinhardt)</li>
    <li>Dr. Stefan Fritsch (Hollidt)</li>
    <li>Hans Meckel (Schniewind)</li>
    <li>Dr. Edmund Tipp (von Roques)</li>
    <li>Dr. Hans Surholt (Reinecke)</li>
    <li>Dr. Paul Leverkuehn (Warlimont)</li>
    <li>Dr. Gerhard Rauschenbach (Woehler)</li>
    <li>Dr. Rupprecht von Keller (Lehmann)</li>
  </ul>
</section>

<section class="theme-light">
  <div class="anchor" id="chronology"></div>
  <h2>Chronology Overview</h2>
  <ul>
    <li>Indictment filed 28 November 1947</li>
    <li>Arraignment 30 December 1947</li>
    <li>Prosecution opening statement 5 February 1948</li>
    <li>Defense opening statements 12 April 1948</li>
    <li>Prosecution closing statement 10 August 1948</li>
    <li>Defense closing statements 10-13 August 1948</li>
    <li>Judgment 27, 28 October 1948</li>
    <li>Sentences 28 October 1948</li>
  </ul>
</section>

<section class="theme-light">
  <div class="anchor" id="positions"></div>
  <h2>Defendants' Final Rank & Position During War</h2>

  <p><strong>Wilhelm von Leeb:</strong> Generalfeldmarschall; Commander in Chief, Army Group North, June 1941 - January 1942</p>
  <p><strong>Hugo Sperrle:</strong> Generalfeldmarschall; Commander in Chief, Air Fleet 3, February 1939-August 1944</p>
  <p><strong>Georg Karl Friedrich-Wilhelm von Kuechler:</strong> Generalfeldmarschall; Commander in Chief, Army Group North, January 1942- January 1944</p>
  <p><strong>Johannes Blaskowitz:</strong> Generaloberst; Commander in Chief Netherlands and 25th Army, April 1945</p>
  <p><strong>Hermann Hoth:</strong> Generaloberst; Commander in Chief, 4th Panzer Army, May 1942 - December 1943</p>
  <p><strong>Hans Reinhardt:</strong> Generaloberst; Acting Commander in Chief, Army Group Center, August 1944 - January 1945</p>
  <p><strong>Hans von Salmuth:</strong> Generaloberst; Commander in Chief, 15th Army, August 1943 - August 1944</p>
  <p><strong>Karl Hollidt:</strong> Generaloberst; Commander in Chief, 6th Army, March 1943 - April 1944</p>
  <p><strong>Otto Schniewind:</strong> Generaladmiral; Commander, Naval Group North, March 1943 - May 1944</p>
  <p><strong>Karl von Roques:</strong> General der Infanterie; Commander Rear Area, Army Group A, July 1942 - December 1942</p>
  <p><strong>Hermann Reinecke:</strong> General der Infanterie; Chief of the National Socialist Guidance Staff of the High Command of the Armed Forces (OKW), 1943 - 1945</p>
  <p><strong>Walter Warlimont:</strong> General der Artillerie; Deputy Chief, Armed Forces Operations Staff (Wehrmachtfuehrungsstab "WFSt"), January 1942 - September 1944</p>
  <p><strong>Otto Woehler:</strong> General der Infanterie; Commander in Chief Army Group South, December 1944 - April 1945</p>
  <p><strong>Rudolf Lehmann:</strong> Generaloberstabrichter; Judge Advocate General of the OWW, May 1944 - May 1945</p>

  <p><strong>Evidence File Document Groups Used in Trial:</strong> NOKW, NO, PS, C</p>
</section>

<section class="theme-light">
  <h2>Judgment/Sentences</h2>
  <p><strong>Blaskowitz:</strong> removed from trial (suicide)</p>
  <p><strong>Hollidt:</strong> guilty, counts 2/3; five years</p>
  <p><strong>Hoth:</strong> guilty, counts 2/3; fifteen years</p>
  <p><strong>Kuechler:</strong> guilty, counts 2/3; twenty years</p>
  <p><strong>von Leeb:</strong> guilty, count 3; three years</p>
  <p><strong>Lehmann:</strong> guilty, counts 2/3; seven years</p>
  <p><strong>Reinecke:</strong> guilty, counts 2/3; life imprisonment</p>
  <p><strong>Reinhardt:</strong> guilty, counts 2/3; fifteen years</p>
  <p><strong>von Roques:</strong> guilty, counts 2/3; twenty years</p>
  <p><strong>von Salmuth:</strong> guilty, counts 2/3; twenty years</p>
  <p><strong>Schniewind:</strong> acquitted</p>
  <p><strong>Sperrle:</strong> acquitted</p>
  <p><strong>Warlimont:</strong> guilty, counts 2/3; life imprisonment</p>
  <p><strong>Woehler:</strong> guilty, counts 2/3; eight years</p>
</section>
{% endblock %}
