{% extends "base.html" %}
{% load static %}

{% block title %} People {% endblock %}

{% block body_class %}about{% endblock %}

{% block header %}
  {{ block.super }}
  <nav aria-label="Topics for NMT-9" class="sub-nav horizontal">
    <li>
      <a href="#summary">Summary</a>
    </li>
    <li>
      <a href="#indictments">Indictments</a>
    </li>
    <li>
      <a href="#persons">Persons Involved</a>
    </li>
    <li>
      <a href="#chronology">Chronology</a>
    </li>
    <li>
      <a href="#organization">Einsatzgruppen organization</a>
    </li>
    <li>
      <a href="#verdicts">Verdicts and Sentences</a>
    </li>
  </nav>
{% endblock %}

{% block content %}
<div id="content"></div>
<section class="theme-light">
    <div class="partial-width">
        <h1>NMT Case 9</h1>
        <p class="intro">The Einsatzgruppen Case</p>
    </div>
</section>

<section class="theme-light">
  <div class="anchor" id="summary"></div>
  <h2>Summary</h2>
<p>The United States prosecuted Otto Ohlendorf and twenty-three
other officers of the SS Einsatzgruppen (Task Forces) for war
crimes and crimes against humanity committed by mobile
extermination units in eastern Europe. The Einsatz forces were
organized by the Reich Security Main Office (RSHA,
Reichssicherheitshauptamt) of the SS to maintain security, gather
intelligence, and to exterminate Jews, Gypsies (Romani), Soviet
officials, and others in occupied territories. The prosecution
estimated that more than one million persons were killed by firing
squads and mobile gas vans. Specific crimes charged included: the
persecution, murder, and extermination of civilian populations
(count one, crimes against humanity); the mistreatment and murder
of prisoners of war and civilians under military rule (count two,
war crimes); and membership in criminal organizations, the SS, SD,
and the Gestapo (count three).</p>
<p>The trial lasted seven months, and the evidence included 253
prosecution exhibits, 731 defense exhibits, and the testimony of 19
witnesses and 22 defendants. The trial of one defendant was halted
due to illness, and another defendant committed suicide. Twenty
defendants were convicted under counts one and two, while
twenty-two were convicted under count three. Ohlendorf and three
other defendants were executed in 1951.</p>
<p>The law school’s set of trial documents is substantial (four
boxes with ca. 6000 pages), but not entirely complete. The trial
documents are linked to the trial transcript by citations to the
transcript in one field of the document analysis.</p>
</section>

<section class="theme-light">
  <div class="anchor" id="indictments"></div>
  <h2>Indictments</h2>
    <p>The indictment filed on 29 July 1947 replaced that of 3 July
    1947, having been amended to add defendants Braune, Haensch,
    Klingelhoefer, Radetzky, Steimle, and Strauch.</p>
    <p>Three counts:</p>
    <ol class="list">
      <li><strong>Crimes against Humanity:</strong>  All defendants, from
May 1941 to July 1943, participated in crimes including persecution (on
political, racial, and religious grounds), murder, extermination, imprisonment
and other crimes against civilian populations, including Germans and others.
Systematic program of genocide, under orders of Himmler, carried out by
Einsatzgruppen (formed from SS, SD, and Gestapo) to operate in eastern Europe
and exterminate Jews, gypsies, Soviet officials, and others considered inferior
or undesirable. Einsatzgruppe A in Baltic region; B near Moscow, C near Kiev,
and D in southern Russia. Subordinate units included Einsatzkommandos or
Sonderkommandos.</li>
      <li><strong>War Crimes:</strong> All defendants, from June 1941 to July
1943, participated in crimes including the murder and mistreatment
of POWs and civilians under German occupation, and destruction of
property. (Particular events listed under count 1.)</li>
      <li><strong>Membership in Criminal Organizations:</strong> All defendants
were members of the SS. Ohlendorf, Jost, Naumann, Rasch, Six,
Blobel, Blume, Sandberger, Seibert, Steimle, Biberstein, Braune,
Haensch, Ott, Strauch, Haussmann, Klingelhoefer, Fendler, Radetzky,
Schubert, and Graf belonged to the Security Service (SD) of the
Reich Security Main Office (RSHA). Rasch, Schulz, Blume, Braune,
Biberstein, Nosske, and Ruehl belonged to the Gestapo (Secret State
Police).</li>
    </ol>
</section>

<section class="theme-light">
  <div class="anchor" id="persons"></div>
  <h2>Persons Involved</h2>
    <h3>Tribunal II (initially II-A)</h3>
    <p class="list">
      Musmanno, Michael A., presiding judge (US Navy; Court of Common Pleas, Allegheny, PA)<br />
      Speight, John J. (attorney, Alabama)<br />
      Dixon, Richard D. (Superior Court, North Carolina)<br />
      Prosecutors<br />
      Ferencz, Benjaim B., chief prosecutor<br />
      Heath, James E., consultant<br />
      Glancy, John E., associate counsel<br />
      Horlik-Hochwald, Arnost, associate counsel<br />
      Walton, Peter W., associate counsel<br />
      Taylor, Telford, chief of counsel<br />
      McHaney, James M., deputy chief counsel<br />
    </p>
    <h3>Defendants</h3>
    <p class="list">
      Biberstein, Ernst, commander of Einsatzkommando 6 in Gruppe C, SS, SD<br />
      Blobel, Paul, commander of Sonderkommando 4a in Gruppe C, SS, SD<br />
      Blume, Walter, commander of Sonderkommando 7a in Gruppe B, SS, SD, Gestapo<br />
      Braune, Werner, commander of Einsatzkommando 11b in Gruppe D, SS, SD, Gestapo<br />
      Fendler, Lothar, officer in Einsatzkommando 4b in Gruppe C, SS, SD<br />
      Graf, Matthias, staff member in Einsatzkommando 6 in Gruppe C, SD<br />
      Haensch, Walter, commander of Sonderkommando 4b in Gruppe C, SS, SD<br />
      Haussman, Emil, officer in Einsatzkommando 12 in Gruppe D, SS, SD (died before trial)<br />
      Jost, Heinz, commander of Einsatzgruppe A, SS, SD<br />
      Klingelhoefer, Waldemar, commander of Vorkommando Moscow, member of Sonderkommando&nbsp;7b in Gruppe B, SS, SD<br />
      Naumann, Erich, commander of Einsatzgruppe B; SS, SD<br />
      Nosske, Gustav, commander of Einsatzkommando 12 in Gruppe D, SS, Gestapo<br />
      Ohlendorf, Otto (lead defendant), commander of Einsatzgruppe D, SS, SD<br />
      Ott, Adolf, commander of Sonderkommando 7b in Gruppe B, SS, SD<br />
      Radetzky, Waldemar von, officer in Sonderkommando 4a in Gruppe C, SS, SD<br />
      Rasch, Otto, commander of Einsatzgruppe C, SS, SD, Gestapo (case severed due to illness; no verdict reached)<br />
      Ruehl, Felix, officer in Sonderkommando 10b in Gruppe D, SS, Gestapo<br />
      Sandberger, Martin, commander of Sonderkommando 1a in Gruppe A, SS, SD<br />
      Schubert, Heinz, officer in Einsatzgruppe D, SS, SD<br />
      Schulz, Erwin, commander of Einsatzkommando 5 in Gruppe C, SS, Gestapo<br />
      Seibert, Willy, staff officer in Einsatzgruppe D, SS, SD<br />
      Six, Franz, commander of Vorkommando Moscow in Gruppe B, SS, SD<br />
      Steimle, Eugen, commander of Sonderkommando 7a in Gruppe B and Sonderkommando 4a in Gruppe C, SS, SD<br />
      Strauch, Eduard, commander of Einsatzkommando 2 in Gruppe A, SS, SD<br />
        </p>
        <h3>Defense attorneys</h3>
        <p class="list">
      Aschenauer, Rudolf (Ohlendorf)<br />
      Belzer, Eduard (Graf)<br />
      Bergold, Friedrich (Biberstein)<br />
      Durchholz, Ernst (Schulz)<br />
      Fritz, Heinz (Fendler)<br />
      Gawlik, Hans (Naumann)<br />
      Gick, Karl (Strauch)<br />
      Heim, Willi (Blobel)<br />
      Hoffmann, Karl (Nosske)<br />
      Klinnert, Gerhard (Seibert)<br />
      Koessl, Josef (Ott and Schubert)<br />
      Link, Heinrich (Ruehl)<br />
      Lummert, Guenther (Blume)<br />
      Mandry, Kurt (Sandberger)<br />
      Mayer, Erich (Steimle, Braune, and Klingelhoefer)<br />
      Ratz, Paul (Radetzky)<br />
      Riediger, Fritz (Haensch)<br />
      Schwarz, Alfred (Jost)<br />
      Stein, Bolko von (Sandberger)<br />
      Surholt, Hans (Rasch)<br />
      Ulmer, Hermann (Six)<br />
    </p>
    <h3>Witnesses (in addition to defendants)</h3>
    <p class="list">
      Alander, Ursula, 22 Jan 1948<br />
      Bayle, Francois, 11 Feb 1948<br />
      Bedwill, Lt. William, 2 Feb 1948<br />
      Burkhoff, Paul, 20 Jan 1948<br />
      Carpenter, George, 12 Jan 1948<br />
      Grahmann, Herbert, 12 Jan 1948<br />
      Harsch, Erwin, 20 Dec 1947<br />
      Hartel, Albert, 24 Nov 1947<br />
      Jauer, Herta, 11-12 Feb 1948<br />
      Kraege, Gustav, 17 Dec 1947<br />
      Laue, Wolfgang, 5 Nov 1947<br />
      Mae, Hjalmar, 7, 17 Nov 1947<br />
      Maennel, Hans, 2 Feb 1948<br />
      Maurach, Reinhard, 15 Oct 1947<br />
      Reich, Friedel, 19 Dec 1947<br />
      Reimers, Franziska, 8 Jan 1948<br />
      Schaller, Heinz, 7 Jan 1948<br />
      Schreyer, Gertrud, 3 Dec 1947<br />
      Spengler, Wilhelm, 16 Oct 1947<br />
      Vetter, Veronika, 16 Jan 1948<br />
      Wartenberg, Rolf, 6-7 Oct 1947<br />
      Weinmann, Elisabeth, 26 Nov 1947<br />
    </p>
</section>

<section class="theme-light">
  <div class="anchor" id="chronology"></div>
  <h2>General Chronology</h2>
  <p>(For a detailed chronology, see the table of contents for the trial transcript)</p>

  <table class="table-trial-chronology">
    <tr><td>Date</td><td>Proceedings</td></tr>
    <tr><td>3 July 1947</td><td>Indictment filed</td></tr>
    <tr><td>29 July</td><td>Amended indictment filed</td></tr>
    <tr><td>15-22 Sep</td><td>Arraignment</td></tr>
    <tr><td>29-30 Sep</td><td>Prosecution opening statement and main case</td></tr>
    <tr><td>6-7 Oct</td><td>Defense opening statements</td></tr>
    <tr><td>8 Oct – 20 Jan 1948</td><td>Defendants’ cases</td></tr>
    <tr><td>21 Jan–3 Feb</td><td>Defense and prosecution final documents</td></tr>
    <tr><td>4-12 Feb</td><td>Defense closing statements</td></tr>
    <tr><td>13 Feb</td><td>Prosecution closing statement; defendants’ final statements</td></tr>
    <tr><td>8-9 Apr</td><td>Judgment</td></tr>
    <tr><td>10 Apr</td><td>Sentences</td></tr>
    <tr><td>4, 25 Mar 1949</td><td>Sentences affirmed by Military Governor of US Zone</td></tr>
  </table>

</section>

<section class="theme-light">
  <div class="anchor" id="organization"></div>
  <h2>Einsatzgruppen organization</h2>

    <p>Formed in mid-1941, on Hitler’s orders, for operations in the
eastern front in coordination with the military. Directed by
Heydrich. Each Gruppe had 500 to 800 persons.</p>

    <p class="list"><strong>Supervisory organizations:</strong> All the groups were supervised by
RSHA (Reich Main Security Office), which received information from
them and prepared the reports. In addition, each group conducted
operations with one of the military commands on the Soviet front.</p>

    <p class="list"><strong>Einsatzgruppe A:</strong> Attached to Army Group North. Baltic region.<br />
      Jost, commander (succeeding Stahlecker)<br />
      Sandberger, commander of Sonderkommando 1a<br />
      Strauch, commander of Einsatzkommando 2<br />
    </p>
    <p class="list"><strong>Einsatzgruppe B:</strong> Attached to Army Group Center. Moscow region.<br />
      Naumann, commander<br />
      Blume, Sonderkommando 7a<br />
      Steimle, Sonderkommando 7a<br />
      Ott, commander of Sonderkommando 7b<br />
      Klingelhoefer, member of Sonderkommando 7b, commander of Vorkommando Moscow<br />
      Six, commander of Vorkommando Moscow<br />
    </p>
    <p class="list"><strong>Einsatzgruppe C:</strong> Attached to Army Group South. Belorussia/Ukraine region.<br />
      Rasch, commander.<br />
      Blobel, commander of Sonderkommando 4a<br />
      Steimle, commander of Sonderkommando 4a<br />
      Radetzky, officer in of Sonderkommando 4a<br />
      Haensch, commander of Sonderkommando 4b<br />
      Fendler, officer in of Sonderkommando 4b<br />
      Schulz, commander of Einsatzkommando 5<br />
      Biberstein, commander of Einsatzkommando 6<br />
      Graf, staff member in Einsatzkommando 6<br />
    </p>
    <p class="list"><strong>Einsatzgruppe D:</strong> Attached to 11th Army. Southern Russia.<br />
      Ohlendorf, commander<br />
      Schubert, deputy to Ohlendorf<br />
      Seibert, deputy chief of Gruppe D<br />
      Ruehl, deputy commander of Sonderkommando 10b<br />
      Braune, commander of Sonderkommando 11b<br />
      Nosske, commander of Einsatzkommando 12<br />
      Haussmann, officer in Einsatzkommando 12<br />
    </p>
</section>

<section class="theme-light">
  <div class="anchor" id="verdicts"></div>
  <h3>Verdicts and sentences (April 1948)</h3>
    <p class="list">
      Biberstein: guilty, counts 1, 2, 3; death penalty<br />
      Blobel: guilty, counts 1, 2, 3; death penalty<br />
      Blume: guilty, counts 1, 2, 3; death penalty<br />
      Braune: guilty, counts 1, 2, 3; death penalty<br />
      Fendler: guilty, counts 1, 2, 3; 10 years imprisonment<br />
      Graf: not guilty, counts 1 and 2; guilty, count 3; released based on time served in prison<br />
      Haensch: guilty, counts 1, 2, 3; death penalty<br />
      Jost: guilty, counts 1, 2, 3; life imprisonment<br />
      Klingelhoefer: guilty, counts 1, 2, 3; death penalty<br />
      Naumann: guilty, counts 1, 2, 3; death penalty<br />
      Nosske: guilty, counts 1, 2, 3; life imprisonment<br />
      Ohlendorf: guilty, counts 1, 2, 3; death penalty<br />
      Ott: guilty, counts 1, 2, 3; death penalty<br />
      Radetzky: guilty, counts 1, 2, 3; 20 years imprisonment<br />
      Rasch: no verdict since his case was severed due to illness; died in 1948<br />
      Ruehl: not guilty, counts 1 and 2; guilty, count 3; 10 years imprisonment<br />
      Sandberger: guilty, counts 1, 2, 3; death penalty<br />
      Schubert: guilty, counts 1, 2, 3; death penalty<br />
      Schulz: guilty, counts 1, 2, 3; 20 years imprisonment<br />
      Seibert: guilty, counts 1, 2, 3; death penalty<br />
      Six: guilty, counts 1, 2, 3; 20 years imprisonment<br />
      Steimle: guilty, counts, 1, 2, 3; death penalty<br />
      Strauch: guilty, counts 1, 2, 3; death penalty<br />
    </p>
</section>
{% endblock %}
