{% extends "base.html" %}
{% load static %}

{% block title %} Approaches to the Collection {% endblock %}

{% block body_class %}approaches fixed-nav{% endblock %}

{% block header %}
  {{ block.super }}
  <nav  aria-label="Information about documents in the collection" class="sub-nav horizontal">
    <li>
      <a href="#primary_sources">Primary Sources</a>
    </li>
    <li>
      <a href="#legal_docs">Legal Docs</a>
    </li>
    <li>
      <a href="#secondary_sources">Secondary Sources</a>
    </li>
    <li>
      <a href="#collections">Archival Collections</a>
    </li>
    <li>
      <a href="#international_archives">International Archives</a>
    </li>
  </nav>
{% endblock %}

{% block content %}
<div class="sub-nav-padding"></div>
<section class="theme-light">
  <div class="partial-width">
  <h1>Nuremberg Trials Resources</h1>
    <p class="intro">
    (primarily in English)
    </p>
  </div>
</section>
<div id="content"></div>

<section class="theme-light" id="primary_sources">
  <h2>Primary Sources</h2>

  <ul>
    <li>
      <em>Trial of the Major War Criminals before the International Military Tribunal.</em>
      Nuremberg, 1947-49. 42 volumes. Library of Congress website has complete
      online version (see 4th item in list)<br />
      <a href="https://www.loc.gov/collections/military-legal-resources/articles-and-essays/historical-materials/world-war-ii/">https://www.loc.gov/collections/military-legal-resources/articles-and-essays/historical-materials/world-war-ii/</a>
    </li>

    <li>
      <em>Trials of War Criminals before the Nuernberg Military Tribunals under Control
      Council Law No. 10.</em> Washington, D.C.: Government Printing Office, 1949-53. 15
      volumes covering highlights from Nuremberg subsequent trials 1-12<br />
      <a href="https://www.loc.gov/collections/military-legal-resources/articles-and-essays/historical-materials/world-war-ii/">https://www.loc.gov/collections/military-legal-resources/articles-and-essays/historical-materials/world-war-ii/</a> (4th item in list)
    </li>

    <li>
      Audio Recordings of IMT (indictment, opening speech, several presentations) at
      National Archives (digitized, online)<br />
      <a href="https://catalog.archives.gov/id/102073">https://catalog.archives.gov/id/102073</a>
    </li>

    <li>
      Taylor, Telford. <em>Final Report to the Secretary of the Army on the Nuremberg War
      Crimes Trials under Control Council Law No. 10.</em> Washington, D.C.: Government
      Printing Office, 1949 (NMT)<br />
      <a href="https://www.loc.gov/collections/military-legal-resources/articles-and-essays/historical-materials/world-war-ii/">https://www.loc.gov/collections/military-legal-resources/articles-and-essays/historical-materials/world-war-ii/</a> (4th item in list)
    </li>

    <li>
      <em>Law Reports of Trials of War Criminals, Selected and Prepared by the United
      Nations War Crimes Commission.</em> London: H.M.S.O., 1947-49. 15 vols.<br />
      <a href="https://www.loc.gov/collections/military-legal-resources/articles-and-essays/historical-materials/world-war-ii/">https://www.loc.gov/collections/military-legal-resources/articles-and-essays/historical-materials/world-war-ii/</a> (8th item in list)
    </li>

    <li>
      <em>Records of the United States Nuernberg War Crimes Trials.</em> Washington, D.C.
      National Archives Collection of World War II War Crimes Records. Includes
      transcripts of proceedings, prosecution and defense exhibits, interrogation records,
      document books and the prosecution document series, from which most prosecution
      exhibits and some defense exhibits were drawn. Available on microfilm for onsite use
      or purchase. Much of the content has been digitized and is available for online
      viewing.<br />
      <a href="https://www.archives.gov/research/captured-german-records/war-crimes-trials">https://www.archives.gov/research/captured-german-records/war-crimes-trials</a>
    </li>
  </ul>
</section>

<section class="theme-light" id="legal_docs">
  <h2>Documents Providing Legal Basis for Trials</h2>

  <ul>
    <li>
      Nuremberg Charter of August 1945<br />
      <a href="https://www.loc.gov/resource/llmlp.2011525338_NT_Vol-I/?pdfPage=20">https://www.loc.gov/resource/llmlp.2011525338_NT_Vol-I/?pdfPage=20</a>
    </li>

    <li>
      Moscow Declaration of October1943<br />
      <a href="https://avalon.law.yale.edu/wwii/moscow.asp">https://avalon.law.yale.edu/wwii/moscow.asp</a>
    </li>

    <li>
      London Four-Power Agreement of August 1945<br />
      <a href="https://www.loc.gov/resource/llmlp.2011525338_NT_Vol-I/?pdfPage=18">https://www.loc.gov/resource/llmlp.2011525338_NT_Vol-I/?pdfPage=18</a>
    </li>

    <li>
      Berlin Protocol of 1945<br />
      <a href="https://en.wikipedia.org/wiki/Potsdam_Agreement">https://en.wikipedia.org/wiki/Potsdam_Agreement</a>
    </li>

    <li>
      Allied Control Council Law No. 10 of December 1945<br />
      <a href="https://gutenberg.org/files/54899/54899-h/54899-h.htm#axvi">https://gutenberg.org/files/54899/54899-h/54899-h.htm#axvi</a>
    </li>
  </ul>
</section>

<section class="theme-light" id="secondary_sources">
  <h2>Secondary Sources</h2>

  <h3>Contemporary (1946-1955)</h3>

  <ul>
    <li>
      Gilbert, G. M. <em>Nuremberg Diary.</em> New York: Farrar, Straus, 1947. Gilbert was the IMT
      prison psychologist
    </li>

    <li>
      Mitscherlich, Alexander. <em>Doctors of Infamy: The Story of the Nazi Medical
      Crimes.</em> New York: Henry Schuman, 1949
    </li>

    <li>
      Calvocoressi, Peter. <em>Nuremberg: The Facts, The Law, and The Consequences.</em> New
      York: Macmillan, 1948. The author was on the British prosecution team at the IMT
    </li>

    <li>
      DuBois, J.E. <em>Generals in Grey Suits: The Directors of the International I.G. Farben
      Cartel, Their Conspiracy and Trial at Nuremberg.</em> London: Bodley Head, 1953
    </li>

    <li>
      Glueck, Sheldon. <em>The Nuremberg Trial and Aggressive War.</em> New York: Knopf,
      1946
    </li>

    <li>
      West, Rebecca. <em>A Train of Powder: Six Reports on the Problem of Guilt and
      Punishment in Our Time.</em> New York: Viking Press, 1955. West was a reporter for
      The New Yorker
    </li>
  </ul>

  <h3>Modern (1980 to present)</h3>

  <ul>
    <li>
      Buscher, Frank M. <em>The U.S. War Crimes Trial Program in Germany 1946-1955.</em> New
      York: Greenwood Press, 1989
    </li>

    <li>
      Conot, Robert E. <em>Justice at Nuremberg.</em> New York: Harper &amp; Row, 1983
    </li>

    <li>
      Earl, Hilary. <em>The Nuremberg SS-Einsatzgruppen Trial, 1945-1958: Atrocity, Law, and
      History.</em> Cambridge: Cambridge University Press, 2009
    </li>

    <li>
      Gaiba, Francesca. <em>The Origins of Simultaneous Interpretation: The Nuremberg Trial.</em>
      Ottawa: University of Ottawa Press, 1998
    </li>

    <li>
      Gaskin, Hilary. <em>Eyewitnesses at Nuremberg.</em> London, New York: Arms and Armor Press,
      1990
    </li>

    <li>
      Lifton, Robert Jay. <em>The Nazi Doctors: Medical Killing and the Psychology of
      Genocide.</em> New York: Basic Books, 1986
    </li>

    <li>
      Marrus, Michael. <em>The Nuremberg War Crimes Trial, 1945-46: A Documentary
      History.</em> Boston: Bedford Books, 1997
    </li>

    <li>
      Mendelsohn, John. <em>Trial by Document: The Use of Seized Records in the
      United States Proceedings at Nuernberg.</em> New York and London: Garland
      Publishing, 1988
    </li>

    <li>
      Persico, Joseph E. <em>Nuremberg: Infamy on Trial.</em> New York: Viking, 1994
    </li>

    <li>
      Priemel, Kim and Stiller, Alexa. <em>Reassessing the Nuremberg Military
      Tribunals: Transitional Justice, Trial Narratives, and Historiography.</em> New
      York, Oxford: Berghahn Books, 2014
    </li>

    <li>
      Sprecher, Drexel A. <em>Inside the Nuremberg Trial: A Prosecutor's Comprehensive
      Account.</em> New York, Oxford: University Press of America, 1999
    </li>

    <li>
      Stave, Bruce M., et al. <em>Witnesses to Nuremberg: An oral History of American
      Participants at the War Crimes Trials.</em> New York: Twayne Publishers and
      Prentice Hall International, 1998
    </li>

    <li>
      Taylor, Telford. <em>The Anatomy of the Nuremberg Trials.</em> Boston: Little, Brown and Co., 1992
    </li>

    <li>
      Tusa, Ann, and John Tusa. <em>The Nuremberg Trial.</em> New York: Scribner, 1984
    </li>

    <li>
      Tutorow, Norman E. <em>War Crimes, War Criminals, and War Crimes Trials: An
      Annotated Bibliography and Source Book.</em> New York: Greenwood Press, 1986
    </li>
  </ul>
</section>

<section class="theme-light" id="collections">
  <h2>Archival Collections</h2>

  <ul>
    <li>
      The Avalon Project at Yale Law School: The Nuremberg War Crimes Trials. Includes all 42
      volumes of the "Blue Series" <em>Trial of Major War Criminals before the International Military
      Tribunal.</em> Also includes the first 4 volumes of the "Red Series" <em>Nazi Conspiracy and Aggression</em>
      as well as dozens of key documents related to the IMT trial<br />
      <a href="https://avalon.law.yale.edu/subject_menus/imt.asp">https://avalon.law.yale.edu/subject_menus/imt.asp</a>
    </li>

    <li>
      Thomas J. Dodd Papers Guide: collection of the papers of Thomas Dodd, a leading
      prosecutor at the IMT<br />
      <a href="https://archivessearch.lib.uconn.edu/repositories/2/resources/771">https://archivessearch.lib.uconn.edu/repositories/2/resources/771</a>
    </li>

    <li>
      Telford Taylor Papers: a guide to the papers of Telford Taylor. Includes
      documentation of the proceedings of the International Military Tribunal and the
      Nuremberg Military Tribunals<br />
      <a href="https://findingaids.library.columbia.edu/archives/cul-10199444">https://findingaids.library.columbia.edu/archives/cul-10199444</a>
    </li>

    <li>
      The Taube Archive of the International Military Tribunal (IMT) at Nuremberg, 1945-46:
      Stanford University's archive includes evidentiary films, full audio recordings of the
      trial, and approximately 250,000 pages of digitized documents<br />
      <a href="https://virtualtribunals.stanford.edu/nuremberg">https://virtualtribunals.stanford.edu/nuremberg</a>
    </li>

    <li>
      The Harry S. Truman Library: the Harry S. Truman Presidential Library and Museum
      collection offers digitized documents, photographs, oral history transcripts, and
      correspondence between President Truman and some of the trial participants<br />
      <a href="https://www.trumanlibrary.gov/library/online-collections/war-crimes-trials-at-nuremberg">https://www.trumanlibrary.gov/library/online-collections/war-crimes-trials-at-nuremberg</a>
    </li>

    <li>
      Paul H. Gantt Nuremberg Trial Papers: a collection of Gantt's working papers and
      photographs related to the trials. The documents include legal briefs, correspondence
      files, military reports, and other documentation that reflect Gantt's work with American
      military prosecution teams and his service in the Office of Chief of Counsel for War
      Crimes, Department of the Army<br />
      <a href="https://archives.towson.edu/collections/paul-h.-gantt-nuremberg-trial-papers">https://archives.towson.edu/collections/paul-h.-gantt-nuremberg-trial-papers</a>
    </li>

    <li>
      Robert H. Jackson Center: an extensive collection of audio and video recordings of the
      IMT<br />
      <a href="https://www.roberthjackson.org/nuremberg-trial-audio-video-2/">https://www.roberthjackson.org/nuremberg-trial-audio-video-2/</a>
    </li>

    <li>
      Drexel A. Sprecher Personal Papers at the John F. Kennedy Presidential Library<br />
      <a href="https://www.jfklibrary.org/asset-viewer/archives/view/DASPP-FA#id10">https://www.jfklibrary.org/asset-viewer/archives/view/DASPP-FA#id10</a> (a few items in
      the collection are digitized/online)
    </li>

    <li>
      Donovan Nuremberg Trials Collection: Cornell University's Donovan Nuremberg Trials
      Collection consists of nearly 150 bound volumes of Nuremberg trial transcripts and
      documents from the personal archives of General William J. Donovan, head of the
      Office of Strategic Services and a key organizer of the IMT<br />
      <a href="https://digital.library.cornell.edu/collections/nuremberg">https://digital.library.cornell.edu/collections/nuremberg</a>
    </li>

    <li>
      Krupp Trial Papers of Judge Hu C. Anderson: the papers of Judge Hu C. Anderson,
      presiding judge at the Krupp Trial (NMT 10) at the Vanderbilt University Law Library, nearly all
      digitized and available for online use<br />
      <a href="https://krupp.library.vanderbilt.edu/">https://krupp.library.vanderbilt.edu/</a>
    </li>

    <li>
      Hebert Nuremberg Collection: Louisiana State University collection of documents
      and photographs of Paul M. Hebert, a judge at the I.G. Farben trial (NMT 6)<br />
      <a href="https://digitalcommons.law.lsu.edu/nuremberg/">https://digitalcommons.law.lsu.edu/nuremberg/</a>
    </li>

    <li>
      Musmanno Collection – Interrogations of Hitler Associates: The collection
      includes interrogations of many defendants and witnesses from the trials<br />
      <a href="https://digital.library.duq.edu/digital/collection/mussinter">https://digital.library.duq.edu/digital/collection/mussinter</a>
    </li>

    <li>
      "The Nazi Concentration Camps" Film shown as evidence during the IMT trial<br />
      <a href="https://www.youtube.com/watch?v=TCy02267X8A">https://www.youtube.com/watch?v=TCy02267X8A</a>
    </li>

    <li>
      List of films used as exhibits/evidence at trials (films are not online)<br />
      <a href="https://catalog.archives.gov/id/43450">https://catalog.archives.gov/id/43450</a>
    </li>

    <li>
      Records of other U.S. Army War Crimes Trials in Europe<br />
      <a href="https://www.archives.gov/research/captured-german-records/war-crimes-trials">https://www.archives.gov/research/captured-german-records/war-crimes-trials</a> (bottom of page)
    </li>

    <li>
      Reconstructing the Record of Nazi Cultural Plunder, by Patricia Kennedy Grimsted. A highly
      detailed inventory of sources related to looting carried out by the Special Staff of Reichsleiter
      Rosenberg (an IMT defendant)<br />
      <a href="https://www.errproject.org/guide/ERR_Guide_USA.pdf">https://www.errproject.org/guide/ERR_Guide_USA.pdf</a>
    </li>

    <li>
      Captured German records at National Archives<br />
      <a href="https://www.archives.gov/research/captured-german-records">https://www.archives.gov/research/captured-german-records</a>
    </li>

    <li>
      Captured Nazi recordings at National Archives<br />
      <a href="https://www.archives.gov/research/captured-german-records/sound-recordings.html">https://www.archives.gov/research/captured-german-records/sound-recordings.html</a>
    </li>

    <li>
      Related Collections at Harvard Law School and Harvard University: a list of collections of
      personal papers of several men involved in the trials, including prosecutor Drexel Sprecher, and
      one woman, Belle Mayer Zeck, who was involved in the prosecution of the I.G. Farben trial.
      Also includes links to three collections of photographs<br />
      <a href="https://guides.library.harvard.edu/c.php?g=877385&p=6301312">https://guides.library.harvard.edu/c.php?g=877385&amp;p=6301312</a>
    </li>

    <li>
      University of North Dakota. Nuremberg Trials Digital Collection on Nazi Occupation of Norway.
      Includes Norway-related documents and testimony from three of the trials<br />
      <a href="https://commons.und.edu/nuremburg-transcripts/">https://commons.und.edu/nuremburg-transcripts/</a> ("nuremburg" misspelling left as is in URL)
    </li>

    <li>
      History of the Nuremberg Document Collection at Harvard Law School<br />
      <a href="https://sites.harvard.edu/nuremberg-additional-resources/">https://sites.harvard.edu/nuremberg-additional-resources/</a><br />
      <a href="https://elischolar.library.yale.edu/cgi/viewcontent.cgi?article=1057&context=jcas">https://elischolar.library.yale.edu/cgi/viewcontent.cgi?article=1057&amp;context=jcas</a>
    </li>
  </ul>
</section>

<section class="theme-light" id="international_archives">
  <h2>International Archives with Collections Related to Trials (a selection)</h2>

  <h3>Germany</h3>

  <ul>
    <li>
      Institut fuer Zeitgeschichte, Munich<br />
      <a href="https://www.ifz-muenchen.de/en/the-archives/about-the-archives/archival-holdings/court-records/">https://www.ifz-muenchen.de/en/the-archives/about-the-archives/archival-holdings/court-records/</a>
    </li>

    <li>
      Friedrich-Alexander-Universitaet, Erlangen-Nuernberg: "Digital Nuremberg Military
      Tribunals" project began in early 2025, online in 2026 or later<br />
      <a href="https://www.str1.rw.fau.de/2025/06/10/vorstellung-digital-nuremberg-military-tribunals-diginmt/">https://www.str1.rw.fau.de/2025/06/10/vorstellung-digital-nuremberg-military-tribunals-diginmt/</a>
    </li>
  </ul>

  <h3>Israel</h3>

  <ul>
    <li>
      Yad Vashem Library: the world's most comprehensive collection of published material
      about the Holocaust<br />
      <a href="https://collections.yadvashem.org/en/library">https://collections.yadvashem.org/en/library</a>
    </li>

    <li>
      Gilbert Collection: documentation written by senior Nazi war criminals in detention
      during the Nuremberg Trials<br />
      <a href="https://collections.yadvashem.org/en/documents/4019718">https://collections.yadvashem.org/en/documents/4019718</a>
    </li>
  </ul>

  <h3>United Kingdom</h3>

  <ul>
    <li>
      Wiener Holocaust Library, London, has a large number of records related to the trials<br />
      <a href="https://wienerholocaustlibrary.org">https://wienerholocaustlibrary.org</a>
    </li>
  </ul>

  <h3>France</h3>

  <ul>
    <li>
      Memorial de la Shoah maintains an extensive list of Holocaust-related websites,
      museums, and memorials<br />
      <a href="https://www.memorialdelashoah.org/en/archives-et-documentation/ressources-en-ligne/selection-de-sites-web.html">https://www.memorialdelashoah.org/en/archives-et-documentation/ressources-en-ligne/selection-de-sites-web.html</a>
    </li>
  </ul>

  <h3>Netherlands</h3>

  <ul>
    <li>
      Two archives in Amsterdam have extensive document collections related to the Holocaust
      and WW2 (neither is online)<br />
      <a href="https://www.niod.nl/">https://www.niod.nl/</a><br />
      <a href="https://jck.nl/en/location/national-holocaust-museum">https://jck.nl/en/location/national-holocaust-museum</a>
    </li>
  </ul>
</section>
{% endblock %}
