{% extends "base.html" %}
{% load static %}
{% block title %} Approaches to the Collection {% endblock %}
{% block body_class %}approaches{% endblock %}
{% block content %}
<br />

<div id="content"></div>
<section class="theme-white">
<div>
    <h1>The 13 Nuremberg Trials, 1945-1949</h1>
    <p class="intro">Trial summaries, persons involved, transcript tables of contents</p>
</div>
</section>
<section class="theme-white">
  <p>
    The website currently describes and presents the documents used in the
    following Nuremberg Trials: NMT Cases 1-4, 7, 9 and the IMT (prosecution
    documents only -- the defense documents have not yet been posted).
    Twenty-four individuals and 6 organizations were indicted.
  </p><br />
  <table class="table-trials">
    {% for case in cases %}
    <tr>
      <td class="trial-img">
      {% if case.processed %}
      {% with image_path='images/trials/'|add:case.image_path %}
      <img src="{% static image_path %}" alt="Photograph for trial {{ case.name }}" />
      <p>{{ case.image_caption }}</p>
      {% endwith %}
      {% endif %}
      </td>
      <td class="trial-details">
        <p><strong>{{ case.alias }}</strong> {{ case.description }}</p>
        {% if case.notes %}
        <p><strong>Note:</strong> {{ case.notes }}</p>
        {% endif %}
        {% if case.processed %}
        <div class="four-column-layout">
          <div class="column">
            <a class="button tag-button" href="{% url 'content:'|add:case.code_name %}">Overview</a>
          </div>
          <div class="column">
            <a class="button tag-button" href="/search/?q=trial:{{ case.code_name }}&m=documents">Documents</a>
          </div>
          <div class="column">
            <a class="button tag-button" href="/transcripts/{{ case.transcript.id }}?seq=1&q=+type:transcripts">Transcripts</a>
          </div>
          <div class="column">
            <a class="button tag-button" href="{% url 'content:'|add:case.code_name %}#persons">Defendants</a>
          </div>
        </div>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
</section>
{% endblock %}
