{% load i18n %}
{% load static %}
{% load author_properties %}

<h2 data-test="author-name">{{ author.name }}</h2>
<h4 data-test="author-description">{{ author.description }}</h4>

<img data-test="author-image"
{% if image %}
    src="{{ image.url }}" alt="{{ image.alt }}"
{% else %}
    src="{% static 'images/authors/placeholder.png' %}" alt="{% trans 'No image available.' %}"
{% endif %} width=200 style="float: right; margin: 20px" />

<ul>
{% for item in properties %}
  <li data-test="author-property">
    <strong>{{ item.name|capfirst }}:</strong>
    {% for prop in item.prop_values %}
        {% if prop.qualifiers %}
          {{ prop.value }}
          <small>({% qualifierformat prop.qualifiers max_qualifiers=max_qualifiers max_qualifier_values=max_qualifier_values %})</small>{% if not forloop.last %}; {% endif %}
        {% else %}
          {% if prop.value|slice:":4" == 'http' %}
          <a href="{{ prop.value }}" title="External link to {{ item.name }}">{{ prop.value }}</a>{% if not forloop.last %}; {% endif %}
          {% else %}
          {{ prop.value }}{% if not forloop.last %}; {% endif %}
          {% endif %}
        {% endif %}
    {% endfor %}
  </li>
{% empty %}
  <li data-test="author-property">
    {% trans 'Additional biographical details not yet available.' %}
  </li>
{% endfor %}
</ul>
