{% load search_url %}

{% with author_prop.author.name as full_name %}
      <div class="dropdown">
          <p>
            <a href="{% search_query author=full_name %}" aria-label="search for author {{ full_name }}">{{ full_name }}</a>
            {% if include_title %}({{ author_prop.author.title }}){% endif %}
          </p>
          <div class="dropdown-content">
            {% if author_prop.properties %}
            <p><a class="see-more-details" href="{% url 'documents:author' author_id=author_prop.author.id author_slug=author_prop.author.slug %}">See more details</a></p>
            {% endif %}
            {% include 'documents/_author_properties.html' with author=author_prop.author image=author_prop.image properties=author_prop.properties|slice:":8" max_qualifiers=3 max_qualifier_values=3 %}
          </div>
      </div>
{% endwith %}
