{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{{ author.name }}{% endblock %}

{% block content %}
<section class="theme-light results">

<h2 data-test="author-name">{{ author.name }}</h2>

<img data-test="author-image"
{% if image %}
    src="{{ image.url }}" alt="{{ image.alt }}"
{% else %}
    src="{% static 'images/authors/placeholder.png' %}" alt="{% trans 'No image available.' %}"
{% endif %} width=200 style="float:right" />

<ul>
{% for item in properties %}
  <li data-test="author-property">
    <strong>{{ item.name|capfirst }}:</strong>
    {% for i in item.values %}{{i}}{% if not forloop.last %}; {% endif %}{% endfor %}
  </li>
{% empty %}
  <li data-test="author-property">
    {% trans 'Additional biographical details not yet available.' %}
  </li>
{% endfor %}
</ul>

</section>
{% endblock %}
