{% extends "base.html" %}
{% load search_url static cache django_vite %}

{% block title %} Document Viewer - {{document.title}} {% endblock %}

{% block body_class %}document-viewer{% endblock %}

{% block javascript_module %}{% endblock %}

{% block extra_head_js %}
  {% vite_asset 'src/vanilla/documents.js' %}
  {% vite_asset 'src/vanilla/toolHover.js' %}
{% endblock extra_head_js %}

{% block extra_head_css %}
<style>
  .tooltip {
    display: none;
    background: #333;
    color: white;
    font-weight: bold;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    text-align: center;
  }
</style>
<style media="print" type="text/css">
  @media print {
    section#search {
      display: none;
    }

    div#content {
      margin-bottom: 25px;
    }

    div.author-hover-content {
      width: 0;
      height: 0;
      margin: 0;
      padding: 0;
      display: none;
    }
    div.author-hover-content img {
      display: none;
    }
    a.see-more-details {
      display: none;
    }
</style>
{% endblock extra_head_css %}

{% block javascript %}
  {{ block.super }}
  <script>
  let acc = document.getElementsByClassName("accordion");

  for (let i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      /* Toggle between adding and removing the "active" class,
      to highlight the button that controls the panel */
      this.classList.toggle("active");
      this.nextElementSibling.classList.toggle("active");
    });
  }
  </script>
{% endblock %}

{% block content %}
    {% if query %}
    <section id="search" role="search" aria-label="Search the archive" class="theme-beige thin">
      <h1 class="h4">Search the archive
        <!-- <a class="h5" tabindex="1" href="#results">Jump to results</a> -->
      </h1>
      <div class="full-width">
        <div style="display: flex; width: 100%; justify-content: space-between;">
          <form class="results-search" role="search" aria-label="full-text search" action='{% url 'search:search' %}' method='GET'>
            {% include 'search/search-bar.html' with hide_icon=True %}
          </form>
          <div style="display: flex">
            <div class="show-advanced-search" style="margin-right: 20px;"><a href="{% url "search:advanced" %}">Advanced Search</a></div>
            <div class="return-link">
              <a href="{% search_url query %}"> &larr; Back to search results </a>
            </div>
          </div>
        </div>
        <div style="margin-top: 20px;"><a href="{% url 'search:help' %}" target="_blank">Search Help</a></div>
    </section>
    {% endif %}
<section class="theme-light flush">
  {% block document_tools %}
    {% if mode != 'text' %}
    <div class="document-tools">
      <div class="page-buttons">
        {% block page_selection %}
          <select title="Jump to document page" id="page-selector">
            {% for page in document.page_range %}
              <option value="{{page}}">Sequence No. {{page}} </option>
            {% endfor %}
          </select>
        {% endblock %}
        <button class="first-page">
          First Page
        </button>
        <button class="prev-page">
          Previous Page
        </button>
        <button class="next-page">
          Next Page
        </button>
        <button class="last-page">
          Last Page
        </button>
        <a class="download-page">
          Download Page
        </a>
      </div>
    </div>
    <hr />
    {% endif %}
  {% endblock %}
  <div class="sidebar-layout">

    <h1 class="h2" aria-role="heading" aria-level="1">{{document.title}}</h1>

    <div class="sidebar-column document-info">
      <div class="material-icon small material-documents"></div>

      {% if cases %}
      <p class="trial-flags">
        {% for case in document.cases.all %}
          <span class="trial-flag trial-{{case.tag_name|slugify}}">{{case.tag_name}}</span>
        {% endfor %}
        &nbsp;
      </p>
      {% endif %}

      {% if mode == 'image' and full_text %}
      <p class="trial-flags">
        <a data-test="full-text-view" href="{% url 'documents:show' document_id=full_text.id slug=full_text.slug %}?mode=text{% if query %}&q={% encode_string query %}{% endif %}">Full-text View</a>
      </p>
      {% elif mode == 'text' and document.image_count %}
      <p class="trial-flags">
        <a data-test="image-view" href="{% url 'documents:show' document_id=document.id slug=document.slug %}?mode=image{% if query %}&q={% encode_string query %}{% endif %}">Image View</a>
      </p>
      {% endif %}
      {% if mode != 'text' %}
      <div class="print-controls">
        <div>
          <button class="download-pdf">PDF</button>
          <div class="download-options hide">
            Page
            <input type="number" class="page-range" name="from-page" title="First page to export" min="1" max="{{document.image_count}}"/>
            to
            <input type="number" class="page-range" name="to-page" title="Last page to export" min="1" max="{{document.image_count}}"/>
            <a class="do-download">Save PDF</a>
          </div>
          <div class="pdf-loading hide">Downloading images for PDF... <span class="progress"></span></div>
        </div>
      </div>
      {% endif %}

      {% block document_details %}

      {% with personal_authors=document.personal_authors.all group_authors=document.group_authors.all %}
      {% if personal_authors or group_authors %}
      <div class="document-details-block">
        <h2 class="h6">Authors</h2>
        {% for author_prop in personal_authors.metadata %}
          {% include 'documents/_author_properties_hover.html' with include_title=True %}
        {% endfor %}
        {% for author in group_authors %}
          <p>
            <a href="{% search_query author=author.short_name %}" aria-label="search for author {{author.name}}">{{author.name}}</a>
          </p>
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}

      <div class="document-details-block">
        <p class="date"><strong>Date:</strong>
          {% with document.date.as_str_flexible as date %}
          {% if date %}
            <a href="{% search_query date=date %}">{{ date }}</a>
          {% else %}
            <a href="{% search_query date='unknown' %}">Date Unknown</a>
          {% endif %}
          {% endwith %}
        </p>
        {% if document.literal_title %}
          <p><strong>Literal Title:</strong> {{document.literal_title}}</p>
        {% endif %}

        {% with document.defendants.all as defendants %}
        {% if defendants %}
          <p><strong>Defendant{{defendants|length|pluralize}}:</strong>
            {% for defendant in defendants|dictsort:"last_name" %}
            <a href="{% search_query defendant=defendant.full_name %}" aria-label="search for defendant {{defendant.full_name}}">{{defendant.full_name}}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </p>
        {% endif %}
        {% endwith %}
        <p>
          <strong>Total Pages:</strong>
          {{document.total_pages}}
        </p>
        <p>
          <strong>Language of Text:</strong>
          {{document.language_name}}
        </p>
        {% if full_text.source_name %}
        <p>
          <strong>Source of Text:</strong>
          {{full_text.source_name}}
        </p>
        {% endif %}
        {% if evidence_codes %}
          <p>
            <strong>Evidence Code{{ evidence_codes|length|pluralize }}:</strong>
            {% for code in evidence_codes %}
              <a href="{% search_query evidence=code %}">{{code}}</a> {% if not forloop.last %}, {% endif %}
            {% endfor %}
          </p>
        {% endif %}
        {% if exhibit_codes %}
          {% if not all_exhibit_codes_empty %}
            <p>
              <strong>Exhibit Code{{ exhibit_codes|length|pluralize }}:</strong>
              {% for code in exhibit_codes %}
                {% if code.prosecution_number %}
                  <a href="{% search_query exhibit=code trial=cases.first.code_name %}">{{code}}</a>{% if not forloop.last %}, {% endif %}
                {% elif code.defense_number %}
                  <a href="{% search_query exhibit=code %}">{{code}}</a>{% if not forloop.last %}, {% endif %}
                {% endif %}
              {% endfor %}
            </p>
          {% endif %}
        {% endif %}
        {% for exhibit_code in exhibit_codes %}
          {% if exhibit_code.book_code %}
          <p>
            <strong>Document Book No:</strong>
              {{ exhibit_code.book_code }}
          </p>
          {% endif %}
          {% if exhibit_code.defense_doc_code %}
          <p>
            <strong>Defense Document No.:</strong>
              {{ exhibit_code.defense_doc_code }}
          </p>
          {% endif %}
        {% endfor %}

        {% if citations %}
        <p>
          <strong>Citation{{ citations|length|pluralize }}:</strong>
          {% for citation in citations %}
          <a href="{{ citation.transcript_link }}">{{ citation.case.tag_name }} (page {{ citation.transcript_page_number }})</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </p>
        {% endif %}

        <p>
          <strong>HLSL Item No.:</strong>
          {{hlsl_item_id|default:'Unknown'}}
        </p>

        {% if document.description %}
        <p>
          <strong>Notes:</strong>{{ document.description|stringformat:'r' }}
        </p>
        {% endif %}
      </div>

      {% endblock %}

      {% with document.activities.all as activities %}
      {% if activities %}
      <!-- Trial Issues -->
      <div class="document-details-block">
        <h2 class="h6">Trial Issue{{activities|length|pluralize}}</h2>
        <p>
          {% for activity in activities %}
            <a class="tag-button" href="{% search_query issue=activity.short_name %}" title="{{ activity.short_name }}">{{activity.short_name|truncatechars:75}}</a>
          {% endfor %}
        </p>
      </div>
      {% endif %}
      {% endwith %}

      {% with external_metadata=document.external_metadata.all codes_length=evidence_codes|length %}
      {% if external_metadata %}
      <!-- Summary (taken from external sources) -->
      <div class="document-details-block">
        <h2 class="h6">Document Summary</h2>
        <div class="summary">

        {% regroup external_metadata by source as metadata_sources %}
        {% for source in metadata_sources|slice:6 %}
          <div class="accordion {% if forloop.first %}active{% endif %}" title="{{ source.grouper.description }}">
            {{ source.grouper.name }}
          </div>
          <div class="accordion-panel {% if forloop.first %}active{% endif %}">
          {% for item in source.list|slice:5 %}
            <p>
              {% if codes_length > 1 or forloop.first %}
              <a href="{% search_query evidence=item.evidence_code %}">{{ item.evidence_code }}</a>:
              {% endif %}
              {{ item.summary }}
            </p>
          {% endfor %}
          {% if source.list|length > 5 %}
          <span class="ellipsis">[ ... ]</span>
          {% endif %}
          </div>
        {% endfor %}
        {% if metadata_sources|length > 6 %}
        <span class="ellipsis">[ ... ]</span>
        {% endif %}

        </div>
      </div>
      {% endif %}
      {% endwith %}

    </div>

    <div id="content"></div>
    {% if mode == 'text' %}
    <div class="main-column">
      <div class="document-text" data-test="document-text-viewport">
      {{ full_text.text|safe|linebreaks }}
      </div>
    </div>
    {% else %}
    <div id="document-viewport" class="main-column">
      <div class="viewport-content scrollable" data-document-id="{{document.id}}">
        {% block viewport %}
          <div class="document-image-layout">
            {% if document.images_screen == "no images" %}
              <div class="no-image-block"><p class="no-image-note">Images for this document are not yet available.</p></div>
            {% else %}
              {% for image in document.images_screen %}
                <div data-screen-url="{{image.url}}" data-thumb-url="{{image.url}}"  data-full-url="{{image.url}}" data-width="{{image.width}}" data-height="{{image.height}}" class="document-image {% if not image.url %}image-missing loading{% else %}loaded{% endif %}" data-page="{{forloop.counter}}" style="width: {{image.width}}px; height: {{image.height}}px;" data-alt="Document page {{forloop.counter}}">
                  {% if image.url %}
                    <img src="{{image.url}}" alt="Scanned document page {{forloop.counter}}" />
                    <div class="image-label">
                      {{image.page_number}}
                    </div>
                  {% else %}
                    <div class="image-label">
                      Missing Image No. {{image.page_number}}
                    </div>
                  {% endif %}
                </div>
              {% endfor %}
            {% endif %}
          </div>
        {% endblock %}
      </div>
      {% block tools_overlay %}
        <div class="document-tools-overlay">
          <div class="tool-buttons">
            <button class="magnify tool-button" data-name="magnify">magnify</button>
            <div class="tooltip magnify-tooltip"><p>Use the mouse wheel to zoom, click to drag/move</p></div>
            <button class="scroll tool-button" data-name="scroll">scroll</button>
            <div class="tooltip scroll-tooltip"><p>Use the mouse wheel to scroll, click to zoom</p></div>
            <button class="expand tool-button" data-name="expand">expand</button>
            <div class="tooltip expand-tooltip"><p>Click to expand image full screen</p></div>
          </div>
        </div>
      {% endblock %}
    </div>
  </div>
  {% endif %}
</section>
{% endblock %}
