[run]
data_file=coverage/.coverage
plugins=
  django_coverage_plugin
omit=
  */content/templates/*
  */lib/*
  */settings/*
  */migrations/*
  */admin.py
  */test*
  */browser_test*
  */urls.py
  */wsgi.py
  */__init__.py
  */search_indexes.py
  */search/templates/search/indexes/*/*_text.txt

branch=True

[report]
skip_covered=True
fail_under=85

[html]
directory=coverage
