# After updating this file, run
#
# `pip-compile`
#
# to update requirements.txt

# LTS through 2024
Django

django-environ
django-cors-headers

# DB
dj-database-url

# Search
lxml
django-haystack
pysolr
requests

# Assets
boto3
django_compressor
django-static-precompiler
django-storages
pillow

# ViteJS Integration
django-vite

# Web Server (non-development)
gunicorn
whitenoise

# Development
pip-tools
pre-commit
IPython

# testing
coverage
django_coverage_plugin
model_bakery
pyquery
pytest
pytest-cov
pytest-django
pytest-instafail
requests-mock
selenium
pytest-github-report