# After updating this file, run
#
# `pip-compile`
#
# to update requirements.txt

# LTS through 2024
Django

# DB
dj-database-url
psycopg2

# Search
lxml
django-haystack
pysolr
requests

# Assets
django_compressor
django-static-precompiler

# Serving images not hosted locally
django-proxy

# Web Server (non-development)
gunicorn
whitenoise

# Development
pip-tools

# testing
pytest
coverage
django_coverage_plugin
pyquery
pytest-django
pytest-cov
pytest-instafail
selenium
